table.dataTable thead{
    background-color: #dcdde0;
}

.table-m > thead > tr > th{ font-size: 14px }

div.row button.btn-srch{
    border: none;
}

.btn-pageNum.active{ background-color: #F7F8F9 }

.btn-pageNum{
    background-color: #00000014;
}
div nav.navbar.navbar-static-top{
    justify-content: space-between;
}
ul.nav.navbar-top-links.navbar-left{
    line-height: 40px;
}
ul.nav.navbar-top-links.navbar-right li{
    line-height: 44px;
}

.btn-pageAngle{
    color: #777;
}

.btn-primary:hover{
    background-color: #fff; color: #777;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
    background-color: #fff; color: #777;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: #fff; color:#777;
}
.btn-primary.focus, .btn-primary:focus{
    background-color: #fff; color: #777;
}

.md-close{
    font-size:1.7em;
}

.input-control:active{
    border: 1px solid #3363FF;
}

.modal-header{
    border-bottom: 1px solid #ccc;
}

.level{
    width: 100%;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{
    padding-top: 14px;
}

.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #3363FF;
    border-color: #3363FF;
}

.checkallbox{
    /*border: 1px solid #ccc;*/
    width: 17px; height: 17px;
    border-radius: 3px;
}
/*.checkallbox::after{*/
/*    border: 1px solid #cccccc;*/
/*}*/

input[type=checkbox] {border: 1px solid #cccccc  !important; margin-right: 4px;}

.nav > li:first-child .open{
    border-bottom: 1px solid #ccc;
}

/*.pull-right{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.viewText{
    margin-bottom: 8px;
}

.viewTextContent{
    padding: 14px;
}

#searchString{
    border-radius: 0;
    margin-right: 0;
}
.btn-srch{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 15px;
    width: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.btn-white{
    padding-top: 6px;
    padding-bottom: 6px;
}

.btn-submit{
    padding-top: 6px;
    padding-bottom: 6px;
}

#datepicker1{
    margin-left: 10px;
}


/*====================== menu =============*/

ul,li{list-style: none;}
a{text-decoration: none;}
.sidebar-collapse{
    width: 240px;
}
#side-menu li a{
    display:block;
    width: 100%;
    text-align: left;
    height:52px;
    color: #222;
    font-size: 15px;
}
.menu1{
    border-bottom: 1px solid #ccc;
}
#side-menu .menu1 a{
    background-color: #F0F2F5;
}
#side-menu .menu2{
    width: 100%;
    padding: 0;
    display:none;
}
.menu2 li a{
    padding-left: 50px;
    line-height: 52px;
}
#side-menu .menu2 a{
    background-color: #F0F2F5;
    color:#222;
    font-size: 13px;
    font-family: 'Noto Sans CJK KR';
    font-weight: bold;
}
#side-menu .menu2 a:hover{
    background-color:#fff;
}

.menu1 a.menuactive{
    background-color: #fff;
}