body {
	color: #222222; 
	font-family: Noto Sans CJK KR !important;
}
body.pace-done{
	overflow-x: hidden;
}
/* loginForm */
body.loginForm {
  /*background: #FAFAFA 0% 0% no-repeat padding-box;*/
  box-shadow: 0px 0px 1px #00000029;
  opacity: 1;
  height: 100%;
  width: 100%;
}

div.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 60%;
}

div.panel-body {
  height: 100%;
  padding: 0px;
}

div.login-panel.panel.panel-default {
  width: 366px;
  height: 308px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 20px #0000003d;
  border-radius: 10px;
  opacity: 1;
  margin-top: 1px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form1 {
  margin: 0px;
}

p.m-t-lg.text-center {
  text-align: center;
  font: normal normal normal 11px/16px Noto Sans CJK KR;
  letter-spacing: -0.02px;
  color: #666666;
  opacity: 1;
  margin: 0px;
}

a.btn.btn-lg.btn-success.btn-block {
  width: 302px;
  height: 48px;
  background: #0054a0 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

div.form-group input.form-control {
  width: 302px;
  height: 48px;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
div.row.border-bottom {
  top: 0px;
  left: 0px;
  height: 48px;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
}

.nav-header {
  background: #0a1f33 0% 0% no-repeat padding-box;
}

.navbar {
  min-height: 48.5px;
}
ul.dropdown-menu{
	min-width: 110px;
}
ul.dropdown-menu.pull-right li a {
	width: 110px;
	height: 26px;
	border-radius: 3px;
	
	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal normal 13px/14px Noto Sans CJK KR !important;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
}
.nav > li > a {
	color: var(--unnamed-color-ffffffde);
}
div nav.navbar.navbar-static-top {
  height: 48px;
  background: #0A1F33 0% 0% no-repeat padding-box;
  border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    width: 100%;
}

ul.navbar-top-links li a {
  min-height: 48px;
}

ul.nav.navbar-top-links.navbar-left {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
}
ul.nav.navbar-top-links.navbar-right{
    align-items: center;
    display: flex;
}

ul.nav.navbar-top-links.navbar-right li {
  opacity: 1;
    color: #FFFFFFDE;
    font-size: 13px;
}

ul.nav.navbar-top-links.navbar-right li a {
  font: normal normal normal 12px/31px Noto Sans CJK KR;
  font-weight: 0;
  letter-spacing: 0px;
  color: #FFFFFFDE;
  padding: 7.5px;
}

button.btn.btn-white.dropdown-toggle {
  background: #fafafa 0% 0% no-repeat padding-box;
  font: normal normal normal 12px/31px Noto Sans CJK KR;
  letter-spacing: 0px;
  color: black;
  width: 113px;
  height: 32px;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* sideMenu */
nav.navbar-default.navbar-static-side {
  background: #F0F2F5 0% 0% no-repeat padding-box;
    border-right: 1px solid #ccc;
    width: 241px;
}

.nav > li.active {
  border-left-width: 0px;
  background: #f0f2f5 0% 0% no-repeat padding-box;
    color: #222;
}

ul.nav-second-level {
  background: #f0f2f5 0% 0% no-repeat padding-box;
}

body.canvas-menu.nav.navbar-static-side {
  background: #0a1f33 0% 0% no-repeat padding-box;
}

body {
  background-color: #0a1f33;
}

div.open {
  color: var(--unnamed-color-ffffffde);
  text-align: left;
  font: normal normal bold 12px/31px Noto Sans CJK KR;
  letter-spacing: 0px;
  color: #ffffffde;
  opacity: 1;
}

ul.nav.nav-second-level.collapse.in {
  text-align: left;
  font: normal normal medium 15px/31px Noto Sans CJK KR;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
    background-color: #F0F2F5;
    border-bottom: 1px solid #ccc;
}

ul.nav-second-level.collapse.in li a {
  padding-left: 58px;
    color: #222;
}

.nav > li.active ul.nav-second-level.collapse.in li a.side-list:hover,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list:focus,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list:active,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list.active,
.open .dropdown-toggleul.nav-second-level.collapse.in li a.side-list,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list:focus:active,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list:hover:active,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list.active:hover,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list.active:focus,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list:active,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list.active,
.nav > li.active ul.nav-second-level.collapse.in li a.side-list.active {
  background: #0054A033 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  /* background-image: linear-gradient(rgb(219, 219, 219), rgb(255, 255, 255) 25%); */
}

/* body */
.gray-bg {
  background: #fafafa 0% 0% no-repeat padding-box;
}

div#content,
div#content section,
div#content section div.content-body > div.border-box {
  background: #fafafa 0% 0% no-repeat padding-box;
}

/*div.btn-page{*/
/*	margin-top: 20px;*/
/*}*/

/* footer */
div.footer{
	text-align: left;
	font: normal normal normal 12px/17px Noto Sans;
	letter-spacing: 0px;
	color: #666666;
	
	border: 0px;
}
nav#commonmenu {
	position: fixed;
	margin-top: 48px;
    height: 100%;
}
div#commonheader {
	position: fixed;
	width: 100%;
	z-index: 2010;
}
div#page-wrapper{
	padding-top: 48px;
	min-height: 940px;
}

h4#cmmModalTitle {
	padding-left:10px;
	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal bold 24px/35px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
}
small#cmmModalDesc{
	float: left;
	padding-top: 15px;
	padding-left: 13px;
	
	text-align: left;
	font: normal normal normal 16px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
}
small#cmmModalDesc2{
	font: normal normal bold 16px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
}
.md-close{
	font-size:2.5em;
	font-weight: 100;
	color: black;
}
div.modal-footer{
	border: 0px;
	padding-top: 0px;
}