.col-1{
	width: 10.00%;
}
.col-1-1{
	width: 11.00%;
}
.col-2{
	width: 22.02%;
}
.col-2-5{
	width: 23.52%;
}
.col-m{
	width: 30%;
}
.col-l{
	width: 50%;
}
.col-3{
	width: 78%;
}
.col-4{
	width: 85.00%;
}
.col-4-l{
	width: 98%;
}
.col-5{
	width: 100%;
}
.div-height-df{
	height: 48px;
}
.div-height-sm{
	height: 32px;
}
.m-rl-s{
	margin-right: 3.81%;
	margin-left: 3.81%;
}
.m-r-x{
	margin-right: 5px;
}
.m-r-m{
	margin-right: 4.00%;
}
.m-r-m-m{
	margin-right: 3.00%;
}
.m-l-m{
	margin-left: 1.3%;
}
.m-t-x{
	margin-top: 5px;
}
.m-t-xs{
	margin-top: 8px;
}
.m-t-s{
	margin-top: 15px;
}
.m-t-l{
	margin-top: 40px;
}
.m-b-0{
	margin-bottom: 0px;
}
.m-b-s{
	margin-bottom: 12px;
}
.m-all-m{
	margin: 20px;
}
.m-a{
	margin: auto;
}
.m-r-auto{
	margin-right: auto;
}
.al-l{
	text-align: left;
}
.p-all-0{
	padding: 0px;
}
.p-ss{
	padding-top:2px;
}
.p-t-s{
	padding-top:10px;
}
.p-t-m{
	padding-top: 20px;
}
.p-b-m{
	padding-bottom: 31px; 
}
.p-s{
	padding: 8px;
}
.p-m{
	padding: 20px;
}
.p-l{
	padding: 30px;
}
.pdmg{
	margin: 0px;
	padding: 0px;
}
.label-title{
	float: left;
	text-align: left;
}
.label-height{
	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal medium 14px/48px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
}
.inline{
	display: inline-block;
}
.block{
	display: block;
}
.vertical{
	vertical-align: middle;
}
.vertical-t{
	vertical-align: top;
}
span.fl-r{
	float:right;
}
.font-title{
	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal bold 24px/35px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
}
.font-subtitle{
	text-align: left;
	font: normal normal normal 16px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
}
.font-hint{
	text-align: left;
	font: normal normal normal 14px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #AAAAAA;
	opacity: 1;
}
.btn-font-sm{
	padding: 3px 6px;
	text-align: center;
	font: normal normal normal 10px/14px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #777777;
	opacity: 1;
}
.form-box{
    margin-bottom: 0;
    vertical-align: middle;
}
.form-control {
	padding: 6px 12px; 
	border-radius: 1px; 
	border: 1px solid rgb(229, 230, 231); 
	transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
	border-image: none;
	color: inherit; 
	display: block; 
	background-image: none; 
	background-color: rgb(255, 255, 255);
}
label[disabled]{
	font: normal normal medium 14px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #AAAAAA;
	opacity: 1;
}
select[disabled]{
	font: normal normal medium 14px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #AAAAAA;
	opacity: 1;
}
.input-bd{
	border: 0.1px solid rgb(210, 210, 210);
}
.imgsrc {
	height: 150px;
	padding: 6px 12px;
	line-height: 1.42857143;
	background-color: #FFFFFF;
	background-image: none;
	border: 0px;
	border-radius: 4px;
	 
	text-align: left;
	font: normal normal normal 14px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
	
	resize:none;
	overflow:visible;
}
.input-control-white {
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #999;
  background-color: #FFFFFF;
  background-image: none;
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-control-white:focus {
	border-color: #3363FF;
  outline: 1;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
  /*        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
}
.input-control-white::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-control-white:-ms-input-placeholder {
  color: #999;
}
.input-control-white::-webkit-input-placeholder {
  color: #999;
}
.input-control-white::-ms-expand {
  background-color: transparent;
  border: 0;
}
.input-control-white[disabled],
.input-control-white[readonly],
fieldset[disabled] .input-control {
  background-color: #eee;
  opacity: 1;
}
.input-control-white[disabled],
fieldset[disabled] .input-control-white {
  cursor: not-allowed;
}
textarea.input-control-white {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].input-control-white,
  input[type="time"].input-control-white,
  input[type="datetime-local"].input-control-white,
  input[type="month"].input-control-white {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.image-box-nbd{
	min-width: 122px;
	min-height: 75px;
	background: #F7F8F9 0% 0% no-repeat padding-box;
	border-radius: 2px;
	border: 0;
	opacity: 1;
}

.file_img {
	display:block;
	margin-bottom:5px;
	position:relative;
}
.file_img a{
	position:absolute;
	top:0;
	right:0;
}
.file_img img {
	max-width:244px;
	height:auto;
	display:none;
} /* 이미지 첨부안되있을때 display */
.file_img img[src] {
	display:block;
}
.file_wrap {
	position:relative;
	display:inline-block;
	width:100%;
}
.file_wrap .hidden_file {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	cursor:pointer;
	padding:0;
	border:0;
	opacity:0;
	filter:alpha(opacity='0');
}
.file_wrap .btn-file 
{
	background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    /* width: 100%; */
}
.form-control2
{
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #e5e6e7;
	border-radius: 1px;
	color: inherit;
	padding: 6px 12px 7px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 76%;
}
.form-control2:focus {
  border-color: #1ab394;
}
#imgSeq {
	max-width:244px; 
	max-height:150px; 
	min-height:64px; 
	min-width:64px;
}

#imageFilename_txt {
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #F7F8F9;
  background-image: none;
  border: 0px;
  border-radius: 4px;
}
.input-control {
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #F0F2F5;
  background-image: none;
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-control:focus {
  border-color: #3363FF;
  outline: 1;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
  /*        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
}
.input-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-control:-ms-input-placeholder {
  color: #999;
}
.input-control::-webkit-input-placeholder {
  color: #999;
}
.input-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.input-control[disabled],
.input-control[readonly],
fieldset[disabled] .input-control {
  background-color: #eee;
  opacity: 1;
}
.input-control[disabled],
fieldset[disabled] .input-control {
  cursor: not-allowed;
}
textarea.input-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
select.form-control {
  height: 48px;
  line-height: 48px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].input-control,
  input[type="time"].input-control,
  input[type="datetime-local"].input-control,
  input[type="month"].input-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.bd-none{
	border: 0px;
}
.bk-white{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
}
.bk-input{
	background: #F7F8F9 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	padding-top: 6px;
}
.bk-input.disabled{
	background: #DADDE0 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
}
.btn-xs{
	width: 48px;
	height: 20px;
}
.btn-ssmm{
	width: 32px;
	height: 32px;
}
.btn-ssm{
	width: 46px;
	height: 28px;
}
.btn-smm{
	width: 46px;
	height: 46px;
}
.btn-mmd{
	width: 66px;
	height: 36px;
}
.btn-mmd-l{
	width: 84px;
	height: 36px;
}

.btn-submit{
	background: #3363FF 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	border: none;
	
	text-align: center;
	font: normal normal normal 14px/20px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

.btn-manage {
	opacity: 1;
	
	height:36px;
	margin:5px;
	
	text-align: left;
	font: normal normal medium 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #777777;
	opacity: 1;
}

.btn-white {
	background: white;
	border: 1px solid rgb(210, 210, 210); 
	border-image: none;
	color: inherit;
	border-radius: 5px;
	opacity: 0;
	
	text-align: center;
	font: normal normal normal 14px/20px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
}
.btn-white-select {
	background: white;
	border: 0.1px solid rgb(210, 210, 210); 
	border-image: none;
	color: inherit;
	border-radius: 5px;
	opacity: 0;
	
	text-align: center;
	font: normal normal normal 10px/12px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
}
.btn-white:hover {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-white:focus,
.btn-white-select:focus {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-white:active,
.btn-white-select::active {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-white.active,
.btn-white-select.active {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.open .dropdown-toggle.btn-white,
.open .dropdown-toggle.btn-white-select {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-white:focus:active,
.btn-white-select:focus:active {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-white:hover:active,
.btn-white-select:hover:active {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-white.active:hover,
.btn-white-select.active:hover {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-white.active:focus,
.btn-white-select.active:focus {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-white:active,
.btn-white-select:active {
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.15);
}
.btn-white.active,
.btn-white-select.active {
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.15);
}

.btn-primaryNum {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #CCCDCE;
	border-radius: 5px;
	opacity: 1;
	width: 32px;
	height: 32px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #777777;
	opacity: 1;
}
.btn-primaryNum:hover {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum:focus {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.open .dropdown-toggle.btn-primaryNum {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum:focus:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum:hover:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum.active:hover {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum.active:focus {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum.active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-primaryNum.active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
div#imgbox{
	/*min-height: 100px;*/
	background-size: cover;
	height: 180px;
	width: 330px;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}