#content {
	margin-top: 30px;
	-webkit-box-sizing: border-box;
}
#content ::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#content ::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#content .hr-lg {
  margin: 14px 0px;
  border: 0px currentColor;
  border-image: none;
}
#content .hr-md {
  margin: 12px 0px;
  border: 0px currentColor;
  border-image: none;
}
#content .hr-sm {
  margin: 10px 0px;
  border: 0px currentColor;
  border-image: none;
}
#content .font-size-14 {
  font: normal normal normal 14px/20px Noto Sans CJK KR;
  text-align: left;
}
#content .font-size-16 {
  font: normal normal bold 16px/24px Noto Sans CJK KR;
  text-align: left;
}
#content .font-size-32 {
  font: normal normal bold 32px/46px Noto Sans CJK KR;
  text-align: left;
}
#content .font-color {
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
#content .bold {
  font-weight: bold;
}
#content .row {
  margin: 0px;
  padding: 0px;
}
#content .padding{
	padding: 18px;
}
#content .row::after {
  clear: both;
  display: table;
  content: "";
}
#content .row > img {
  width: 100%;
  height: auto;
}
.content-body [class*="col-"] {
  float: left;
}
#content .right {
  float: right;
}
#content .col-1 {
  width: 8.33%;
}
#content .col-2 {
  width: 20.00%;
}
#content .col-3 {
  width: 31.98%;
}
#content .col-4 {
  width: 33.33%;
}
#content .col-5 {
  width: 40.49%;
}
#content .col-6 {
  width: 48%;
}
#content .col-7 {
  width: 57.49%;
}
#content .col-8 {
  width: 66.66%;
}
#content .col-9 {
  width: 75%;
}
#content .col-10 {
  width: 83.33%;
}
#content .col-11 {
  width: 91.66%;
}
#content .col-12 {
  width: 100%;
}
#content .col-13 {
  width: 50.33%;
}
#content .col-empty {
  width: 2.03%;
}
#content .col-empty2 {
  width: 2.02%;
}
#content .col-div-5 {
  width: 20%;
}
#content .outer {
  height: 100%;
  display: table;
}

#content .outer .middle {
  vertical-align: middle;
  display: table-cell;
}
#content .title{
	color: var(--unnamed-color-222222);
	text-align: left;
	font-weight: bold;
	font: normal normal bold 16px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
}
div.title span {
    color: var(--unnamed-color-222222);
    text-align: left;
    font: normal normal bold 32px/46px Noto Sans CJK KR;
    letter-spacing: -0.26px;
    color: #222222;
    opacity: 1;
}
div#content section nav.content-title {
  padding: 22px 27px;
  border: 1px solid rgb(231, 235, 238);
  border-image: none;
  height: 77px;
  color: rgb(65, 65, 65);
  font-size: 1.5rem;
  background-color: #fafafa 0% 0% no-repeat padding-box;
}
div#content section div.content-body {
  margin: auto;
}
div#content section div.content-body > div.border-box {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
}
div#content section div.content-body article.row > div.col-3 {
    height: 100px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}
div#content section div.content-body article.row > div.box,
div#content section div.content-body article.row > div.col-5,
div#content section div.content-body article.row > div.col-6,
div#content section div.content-body article.row > div.col-7 {
	padding : 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}
div.ibox > #js-tree {
  display: block;
}
div.title .btn-add{
	background: #3363ff 0% 0% no-repeat padding-box;
	width: 148px;
	height: 36px;
	border-radius: 4px;
	opacity: 1;
	
	margin-top: 5px;
	margin-bottom: 5px;
	
	text-align: center;
	font: normal normal normal 14px/20px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
div#content div.row{
	padding-top: 15px;
}
.table-m > thead > tr > th {
	text-align: center;
	font-weight: bold;
	font: normal normal medium 14px/16px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	background: #E2E9EE 0% 0% no-repeat padding-box;
	border-radius: 2px;
	opacity: 0.65;
}
.table > tbody > tr > td {
	text-align: center;
	font: normal normal medium 14px/16px Noto Sans CJK KR;
	border-width: 0px;
	letter-spacing: 0px;
	color: #222222;
	opacity: 0.65;
}

.table > tbody > tr:nth-child(even) td{
	background: #F8FAFB 0% 0% no-repeat padding-box;
}
.table-hoverm > tbody > tr:hover{
	background: #E2E9EE 0% 0% no-repeat padding-box;
}
.table-border {
	border-width: 0px; background-color: #ffffff;
}
#tabletext-left {
	text-align: left;
}

@media screen and (max-width: 768px) {
  div#sidenav nav .desktop-menu {
    display: none;
  }
  div#content header #chat {
    display: none;
  }
  div#content section {
    margin-left: 0px;
  }
  div#content section #data-download {
    display: none;
  }
  div.ibox > #js-tree {
    display: none;
  }
  div.ibox > #js-tree img {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  div.ibox > #intent {
    display: block;
  }
  div.ibox > #intent img {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 1em;
  }
  body #content {
    font-size: 1em;
  }
  #content select {
    font-size: 1em;
  }
  div#content section div.content-body [class*="col-"] {
    width: 100%;
  }
}


/* chart*/
div#timeProgressListArea{
	padding-left: -15px;
}
div#timeProgressListArea.c3 path {
	stroke: #CCCDCE;
}
div#timeProgressListArea.c3 line {
    stroke: #0054A0;
}
div#timeProgressListArea g.c3-legend-item{
	text-align: left;
	font: normal normal normal 14px/16px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222DE;
	opacity: 1;
}
div#timeProgressListArea.c3-tooltip th{
    background: #E2E9EE 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;

	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal normal 14px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
	
    padding:2px 5px;
}
div#timeProgressListArea.c3-tooltip td{
    font-size:13px;
    padding:3px 6px;
    background-color:#fff;
    border: 0;
}
div#timeProgressListArea g.c3-axis.c3-axis-x g.tick{
	text-align: left;
	font: normal normal normal 14px/25px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222DE;
	opacity: 1;
}
div#timeProgressListArea g.c3-axis.c3-axis-y g.tick{
	visibility: collapse;
  	display: none !important;
	opacity: 0;
}
div#timeProgressListArea g.c3-axis.c3-axis-x g.tick line{
	visibility: collapse;
  	display: none !important;
	opacity: 0;
}
/* line chart circle */
div#timeProgressListArea g.c3-chart-lines circle {
    fill: #ffffff !important;
}
div#timeProgressListArea g.c3-chart-line.c3-target.c3-target-이용자수{
	stroke:#10BCC2;
	stroke-width: 2px;
}
div#timeProgressListArea g.c3-chart-line.c3-target.c3-target-대화건수{
	stroke:#FFC116;
	stroke-width: 2px;
}
div#timeProgressListArea g.c3-chart-line.c3-target.c3-target-이용자수 circle.c3-circle._expanded_ {
    stroke:#10BCC2 !important;
    stroke-width: 2px;
}
div#timeProgressListArea g.c3-chart-line.c3-target.c3-target-대화건수 circle.c3-circle._expanded_ {
    stroke:#FFC116 !important;
    stroke-width: 2px;
}

div#timeProgressListArea div.c3-tooltip-container {
	background: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #0054A0;
}
div#timeProgressListArea table.c3-tooltip {
	padding: 2px;
	margin: 10px;
	border:0;
	
	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal normal 12px/16px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
	
	-webkit-box-shadow: 0px 0px 0px 0px #FFFFFF;
    -moz-box-shadow:0px 0px 0px 0px #FFFFFF;
    box-shadow:0px 0px 0px 0px #FFFFFF;
}
div#timeProgressListArea table.c3-tooltip td {
	padding : -3px;
	border:0;
	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal normal 12px/16px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
}
div#timeProgressListArea table.c3-tooltip tr {
	border:0;
}
div#timeProgressListArea table.c3-tooltip th {
	background: #E2E9EE;
	border-radius: 10px;
	border:0;
	
	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal normal 14px/24px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
}

/* pie chart */
div#topCategoryListPieChartArea g.c3-legend-item {
	visibility: collapse;
  	display: none !important;
	opacity: 0;
}
div#topCategoryListPieChartArea {
	text-align: center;
}
div#topCategoryListPieChartArea g.c3-chart-arc text{
	visibility: collapse;
  	display: none !important;
	opacity: 0;
}
div#topCategoryListPieChartArea div.c3-tooltip-container {
	background: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #0054A0;
}
div#topCategoryListPieChartArea table {
	border: 0;
	margin: 1px;
}
div#topCategoryListPieChartArea table.c3-tooltip tr {
	border: 0;
	margin: 1px;
}
div#topCategoryListPieChartArea table.c3-tooltip td {
	padding : -3px;
	border:0;
	color: var(--unnamed-color-222222);
	text-align: left;
	font: normal normal normal 12px/16px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	opacity: 1;
}