@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /*vertical-align: top;*/
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-family: 'Noto Sans KR', "Malgun Gothic", "맑은 고딕", "AppleSDGothicNeo-Medium", "Helvetica", "AppleGothic", sans-serif;
    font-size: 13px;
    color: #222;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

img.nomax {
    max-width: fit-content;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #3b3b3b;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

.cl {
    clear: both;
}

#wrappr {
    width: 100%;
}

.aside_choi {
    position: fixed;
    margin-top: 48px;
    height: 100%;
    background: #F0F2F5 0% 0% no-repeat padding-box;
    border-right: 1px solid #ccc;
    width: 241px;
}

.main_choi {
    padding: 48px 15px 0px;
    margin: 0px 0px 0px 240px;
    min-height: 100vh;
    background: #fafafa 0% 0% no-repeat padding-box;
}

.ibox {
    padding: 0px;
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
}

.ibox.float-e-margins {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 36px;
}



/*여기부터 넣으세요*/
.ibox.no_bg {
    background: none !important;
}

.line_share {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 40px;
}

.share12 {
    width: 100%;
}

.share8 {
    width: 74%;
}

.share4 {
    width: 18%;
}

.share_tlt {
    margin: 0px 0px 10px;
    font-size: 16px;
    font-weight: 700;
}

.share_box {
    width: 100%;
    min-height: 142px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 14px 32px 12px 26px;
}

.share_line {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px 8px;
}

.share_line:last-child {
    padding: 0px;
}

.hd_space {
    width: 20px;
    display: flex;
    align-items: center;
}

.hd_ball {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #8c8c8c;
    border-radius: 100%;
}

.ball_red {
    background-color: #ff0000;
}

.ball_green {
    background-color: #0ed128;
}

.share_dl {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.3;
}

.share_dl dt {
    font-size: 16px;
    font-weight: 700;
}

.share_dl dd .result {
    display: flex;
    color: #222;
    font-size: 25px;
    font-weight: 700;
}

.share_dl dd .result span {
    font: inherit;
}

.share_dl dd .result .num {
    margin: 0px 2px 0px 0px;
}

.chart_body {
    width: 100%;
    padding: 0px;
    margin: 20px 0px;
}

#chartdiv5 {
    width: 100%;
    height: 350px;
    font-size: 12px;
}

#chartdiv51 {
    width: 100%;
    height: 340px;
    font-size: 12px;
}

/*여기부터 넣으세요 End*/

/*Contents*/
.wrap_bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.movie_contain {
    position: relative;
    width: 100%;
    height: 100%;
}

.deletor {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1000;
}

.deletor .img_delete {
    width: 30px;
    height: auto;
    cursor: pointer;
}

#myVideo {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
}


/*Swiper*/
.slide_zone {
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
}

.slide_wrap {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.slide_wrap .swiper-container {
    width: 100%;
    height: 100%;
    padding: 5% 30px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slide_wrap .swiper-wrapper {
    height: auto;
}

.slide_wrap .swiper-button-prev {
    outline: none;
    width: 16px;
    height: 25px;
    left: 10px;
    top: 55%;
    background: url('/admin/img/arr_left_wh.png') no-repeat center center;
    background-size: auto 100%;
    text-indent: -9999px;
}

.slide_wrap .swiper-button-next {
    outline: none;
    width: 16px;
    height: 25px;
    right: 10px;
    top: 55%;
    background: url('/admin/img/arr_right_wh.png') no-repeat center center;
    background-size: auto 100%;
    text-indent: -9999px;
}

.swiper-slide {
    cursor: pointer;
}

.slide_event {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.slide_event .swiper-container {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.slide_event .swiper-button-prev {
    outline: none;
    width: 16px;
    height: 25px;
    left: 10px;
    top: 55%;
    background: url('/admin/img/arr_left_black.png') no-repeat center center;
    background-size: auto 100%;
    text-indent: -9999px;
}

.slide_event .swiper-button-next {
    outline: none;
    width: 16px;
    height: 25px;
    right: 10px;
    top: 55%;
    background: url('/admin/img/arr_right_black.png') no-repeat center center;
    background-size: auto 100%;
    text-indent: -9999px;
}

/*Swiper End*/