.inline{
	display: inline-block;
}
.ibox-content{
	border: 0px;
	padding: 0px;
}
.ibox.float-e-margins{
	background: #ffffff 0% 0% no-repeat padding-box;
	padding:20px;
}
.m-t-lg{
	margin-top: 40px;
}
.brdr-rd{
	border-radius: 5px;
}
.hght{
	padding-top: 5px;
	height:32px;
}
.align-center{
	text-align:center;
}
.font-size-14 {
  font: normal normal normal 14px/20px Noto Sans CJK KR;
  text-align: left;
}
.font-size-16 {
  font: normal normal bold 16px/24px Noto Sans CJK KR;
  text-align: left;
}
.font-size-32 {
  font: normal normal bold 32px/46px Noto Sans CJK KR;
  text-align: left;
}
.font-color {
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.bold {
  font-weight: bold;
}
.content-body [class*="col-"] {
  float: left;
}
.col-12 {
  width: 100%;
}
form#form1 div#row {
  margin: 0px;
  padding: 0px;
}
div.title span {
    color: var(--unnamed-color-222222);
    text-align: left;
    font: normal normal bold 32px/46px Noto Sans CJK KR;
    letter-spacing: -0.26px;
    color: #222222;
    opacity: 1;
}
div.ibox > #js-tree {
  display: block;
}
div.title .btn-add{
	background: #3363ff 0% 0% no-repeat padding-box;
	width: 148px;
	height: 36px;
	border-radius: 4px;
	opacity: 1;
	
	margin-top: 5px;
	margin-bottom: 5px;
	
	text-align: center;
	font: normal normal normal 14px/20px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
div.row button.btn-srch{
	width: 58px;
	height: 32px;

	background: #58616B 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 1px #00000029;
	border-radius: 5px;
	opacity: 1;
	
	display: inline-block;
	
	margin-bottom: 5px;
	
	text-align: center;
	font: normal normal normal 14px/20px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
div#listArea button#btn-delete,
div#listArea button#btn-update {
	width: 58px;
	height: 32px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #CCCDCE;
	border-radius: 5px;
	opacity: 1;
}
input#searchUser{
	width: 260px;
	height: 32px;
	border-radius: 5px;
	margin-right:5px;
	
	display: inline-block;
	
	text-align: left;
	font: normal normal normal 14px/20px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #AAAAAA;
	opacity: 1;
}
.dataTable > thead > tr > th {
	text-align: center;
	font-weight: bold;
	font: normal normal medium 14px/16px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	background: #E2E9EE 0% 0% no-repeat padding-box;
	border-radius: 2px;
	opacity: 0.65;
}
.table-m > thead > tr > th {
	text-align: center;
	font-weight: bold;
	font: normal normal medium 14px/16px Noto Sans CJK KR;
	letter-spacing: 0px;
	color: #222222;
	background: #E2E9EE 0% 0% no-repeat padding-box;
	border-radius: 2px;
	opacity: 0.65;
}
table#userTable th#sorting{
	background: #E2E9EE 0% 0% no-repeat padding-box;
}
.table > tbody > tr > td {
	text-align: left;
	vertical-align : middle;
	font: normal normal medium 14px/16px Noto Sans CJK KR;
	border-width: 0px;
	letter-spacing: 0px;
	color: #222222;
	opacity: 0.65;
}
.table > tbody > tr > td.align-center {
	text-align: center;
}

.table > tbody > tr:nth-child(even) td{
	background: #F8FAFB 0% 0% no-repeat padding-box;
}
.table-hoverm > tbody > tr:hover{
	background: #E2E9EE 0% 0% no-repeat padding-box;
}
.table-border {
	border-width: 0px; background-color: #ffffff;
}
#tabletext-left {
	text-align: left;
}

.btn-manage {
	background: #FAFAFA 0% 0% no-repeat padding-box;
	opacity: 1;
	
	height:36px;
	margin:5px;
	
	text-align: left;
	font: normal normal medium 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #777777;
	opacity: 1;
}

.btn-pageNum {
	background: #F7F8F9 0% 0% no-repeat padding-box;
	border-radius: 5px;
	padding: 0px;
	opacity: 0;
	width: 32px;
	height: 32px;
	
	text-align: center;
	font: normal normal medium 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #777777;
	opacity: 1;
}
.btn-pageNum:hover {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum:focus {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.open .dropdown-toggle.btn-pageNum {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum:focus:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum:hover:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum.active:hover {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum.active:focus {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum.active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum:active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-pageNum.active {
	background: #58616B 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	
	text-align: center;
	font: normal normal bold 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 1;
}


.btn-pageAngle {
	background: white;
	border:0px;
	border-radius: 5px;
	opacity: 0;
	width: 32px;
	height: 32px;
	padding: 0px;
	
	font: normal normal medium 14px/20px Noto Sans CJK KR;
	letter-spacing: 0.25px;
	color: #777777;
	opacity: 1;
}
.btn-pageAngle:hover {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-pageAngle:focus {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-pageAngle:active {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-pageAngle.active {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.open .dropdown-toggle.btn-pageAngle {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-pageAngle:focus:active {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-pageAngle:hover:active {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-pageAngle.active:hover {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-pageAngle.active:focus {
	border: 1px solid rgb(210, 210, 210); border-image: none; color: inherit;
}
.btn-pageAngle:active {
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.15);
}
.btn-pageAngle.active {
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.15);
}