<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:inline="javascript">

    function getPresign() {

        var result;

        console.log("getpre");
        $.ajax({
            url: "api/v1/aws/presign",
            type: 'GET',
            cache: false,
            dataType: "text",
            async: false,
            error: function () {
                console.log('error');
            },
            success: function (data) {
                console.log('success1');
                result = data;
            }
        })
        return result;
    };


    function formAjaxAWS() {
        var f = document.form1;
        console.log("form submit");
        preurl = getPresign();
        console.log(preurl);
        console.log("-----------");

        $.ajax({
            url: preurl,
            type: 'POST',
            cache: false,
            dataType: "",
            jsonp: "callback",
            data: $('#imgFile').serialize(),
            async: false,
            error: function () {
                console.log('error');
            },
            success: function (data) {
                console.log('success1');
                console.log('data');
                // $("#listArea").replaceWith(data);
                // document.getElementById("listArea").innerHTML = data;
            }
        })
    };


    function CateCreateReq() {
        console.log("CateCreateReq")

        // var form = $('#insertForm').serialize();
        // var formData = new FormData(form);

        var form1 = $('#insertForm')[0];
        var formData1 = new FormData($('#insertForm')[0]);
        $.ajax({
            url: "active/cate/createReq",
            type: "POST",
            cache: false,
            dataType: "html",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            async: false,
            data: formData1,
            error: function () {
                console.log('error');
            },
            success: function (data) {
                console.log('success1');
                $("#listArea").replaceWith(data);
                // document.getElementById("listArea").innerHTML = data;
            }
        })
    };
</script>
<div class="modal" id="selectModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">카테고리 생성</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="insertForm" method="post" th:object="${createOne}" enctype="multipart/form-data">
                    <div>
                        <input type="hidden" th:value="*{cateId}" th:field="*{cateId}">
                        <br>
                        <tr>
                            <td>장소</td>
                            <span th:each="pc:  ${placeCode}">

                            <td>
                                <input type="checkbox" th:value="${pc.getCd()}" th:text="${pc.getCdNm()}" th:field="*{plcaces}">
                           </td>
                            </span>
                            <td>부문</td>
                            <span th:each="ppc:  ${purposeCode}">
                            <td>
                                 <input type="radio" th:value="${ppc.getCd()}" th:text="${ppc.getCdNm()}" th:field="*{purpose}">
                            </td>
                          </span>
                        </tr>
                        <br>
                        <div th:each="lang : ${langCode}">
                            <input type="hidden" th:field="*{contentsReq[__${langStat.index}__].langCodes}"
                                   disabled="disabled" th:value="${lang.getName()}"><br>

                            <p th:field="*{contentsReq[__${langStat.index}__].langCodes}"
                               th:text="${lang.getDes()}"
                               th:value="${lang.getName()}"></p>
                            <span> 카테고리이름 </span>
                            <input type="text" th:field="*{contentsReq[__${langStat.index}__].cateTitle}"><br>
                            <span> 카테고리설명 </span>
                            <input type="text" th:field="*{contentsReq[__${langStat.index}__].cateContents}"><br>
                        </div>
                        <br>
                    </div>
                    <input type="file" name="file" id="file">
                </form>
                <!--                <form id="imgFile" enctype="multipart/form-data">-->

                <!--                    <button type="button" th:onclick="'javascript:formAjaxAWS()'">업로드</button>-->
                <!--                </form>-->
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-add" data-dismiss="modal"
                        th:onclick="'javascript:CateCreateReq()'"
                >Save
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

</html>