<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

    <script type="text/javascript" th:inline="javascript">
        // $(document).ready(function () {
        //     cateLangSelect();
        // });
        function MissionFormSave() {
            console.log("MissionSave")
            var form1 = $('#formUp')[0];
            var formData1 = new FormData($('#formUp')[0]);
            $.ajax({
                url: "active/cate/save",
                type: "POST",
                cache: false,
                dataType: "text",
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                async: false,
                data: formData1,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    // $("#selecCateList").replaceWith(data);
                    console.log(data);
                    window.location.href = data;
                }
            })
        };

        function cateLangSelect(seq, name) {
            console.log(seq);
            console.log(name);
            $.ajax({
                url: "active/cate/langSelect",
                type: 'GET',
                cache: false,
                dataType: "html",
                // data: $('#cateSelect').serialize(),
                data: {
                    seq: seq,
                    lang: name
                },
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    $("#selectModal1").replaceWith(data);
                }
            })
        };
    </script>

    <div class="row m-t-lg" th:object="${cateData}">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form id="formUp" name="formUp" method="post" >
                        <div class="profile-div">
                            <img th:if="${cateData.imgUrl} != null" th:src="${cateData.imgUrl}" alt="profile"/>
                        </div>

                        <table class="detail-table cate-table">
                            <tr>
                                <th>장소</th>
                                <td>
                                    <div th:each="pc:  ${placeCode}">
                                        <input type="radio"
                                               name="place"
                                               th:checked="${cateData.place.contains(pc.getCd())}"
                                               th:value="${pc.getCd()}"

                                        >
                                        <label th:text="${pc.getCdNm()}"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>종류</th>
                                <td>
                                    <div th:each="ppc:  ${purposeCode}">
                                        <input type="radio"
                                               name="prps"
                                               th:checked="${cateData.prps.contains(ppc.getCd())}"
                                               th:value="${ppc.getCd()}"
                                        >
                                        <label th:text="${ppc.getCdNm()}"/>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>사진</th>
                                <td>
                                    <input type="file" name="file" id="file"><br>
                                </td>
                            </tr>

                            <tr th:if="${cateData.cateId != null}">
                                <th>언어</th>
                                <td style="padding: 4px 10px;">
                                    <div th:each="lang : ${langCode}" th:object="${cateLangConReq}">
                                        <button id="modalbutton" type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#selectModal1"
                                                th:onclick="cateLangSelect([[${cateData.cateId}]],[[${lang.getName()}]])"
                                                th:text="${lang.getDes()}">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                            <input type="hidden" th:value="${cateData.getCateId()}" th:field="*{cateId}">
                            <input type="hidden" th:field="*{cateId}">
                            <input type="hidden" th:field="*{tpcTpCd}">
                            <input type="hidden" th:field="*{useYn}">
                            <input type="hidden" th:field="*{imgUrl}">
                            <input type="hidden" th:field="*{regId}">
                            <input type="hidden" th:field="*{regDttm}">
                            <input type="hidden" th:field="*{modId}">
                            <input type="hidden" th:field="*{modDttm}">
                    </form>

                    <div style="display: flex; justify-content: space-between;">
                        <div class="input-group-btn">
                            <button type="button" class="btn-srch" style="width: 60px; margin-right: 20px; border-radius: 5px"
                                    th:onclick="'javascript:MissionFormSave()'">저장</button>
                        </div>
                        <div class="input-group-btn" style="width: 60px;">
                            <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-right: 0;" onClick="history.go(-1)" th:text="목록" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="selectModal1"></div>
</th:block>
</html>