<html xmlns:th="http://www.thymeleaf.org">
<div id="listArea">
    <table class="table table-hoverm dataTable table-m table-border">
        <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">부문</th>
                <th class="th">카테고리 이름</th>
                <th class="th">등록자</th>
                <th class="th">수정일</th>
                <th class="th">등록일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="each : ${cateList.getResults()}" class="tr" >
                <td th:text="${page.getTotal() - eachStat.index -  page.getOffset()}"
                    th:value="${each.getCateId()}" class="td"></td>
                <td class="td" th:text="${codes[__${each.prpsCd}__]}" ></td>
                <td class="td"><a th:text="${each.getCateTitle()}" th:href="@{/active/cate/oneView(seq=${each.getCateId()})}"></a></td>
                <td th:text="${each.adminName}" class="td"></td>
                <td th:text="${#temporals.format(each.regDttm,'yyyy-MM-dd')}" class="td"></td>
                <td th:text="${#temporals.format(each.modDttm,'yyyy-MM-dd')}" class="td"></td>
            </tr>
        </tbody>
    </table>

    <div class="btn-page text-center">
        <button type="button" class="btn btn-pageAngle" title="처음"
                th:onclick="'javascript:listSelect(0)'">
            <i class="fa fa-angle-double-left"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="이전"
                th:onclick="'javascript:listSelect('+${page.getBackPage()}+')'">
            <i class="fa fa-angle-left"></i>
        </button>

        <button type="button" class="btn btn-pageNum" th:classappend="${page.getPage() == index} ? 'active' : ''"
                th:each="no : ${#numbers.sequence(page.getStartNum() , page.getLastNum())}"
                th:with="index= ${noStat.index + page.getStartNum()}"
                th:onclick="'javascript:listSelect('+ ${index} +')'"
                th:text="${page.getStartNum()}+${noStat.count}">
        </button>

        <button type="button" class="btn btn-pageAngle" title="다음"
                th:onclick="'javascript:listSelect('+${page.getNextPage()}+')'">
            <i class="fa fa-angle-right"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="끝"
                th:onclick="'javascript:listSelect('+${page.getEnd()}+')'">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </div>
</div>
</html>