<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            listSelect(0);
        });

        function MembershipStop(id) {
            console.log(id);
            $.ajax({
                url: "user/mem/stop",
                type: 'GET',
                cache: false,
                dataType: "text",
                data: {seq: id},
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log(data)
                    window.location.href = '/admin/user/mem/oneView?seq='+id;
                }
            })
        };

        function MembershipNormal(id) {
            console.log(id);
            $.ajax({
                url: "user/mem/normal",
                type: 'GET',
                cache: false,
                dataType: "text",
                data: {seq: id},
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log(data)
                    window.location.href = '/admin/user/mem/oneView?seq='+id;
                }
            })
        };

        function MembershipReject(id) {
            console.log(id);
            $.ajax({
                url: "user/mem/reject",
                type: 'GET',
                cache: false,
                dataType: "text",
                data: {seq: id},
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log(data)
                    window.location.href = '/admin/user/mem/oneView?seq='+id;
                }
            })
        };
    </script>

    <div class="row m-t-lg" th:object="${selectForm}">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div style="display:flex;">
                        <div style="margin-right: 20px;">
                            <div class="profile-div">
                                <img th:if="${selectForm.profileImg != null || selectForm.profileImg != '' }" th:src="*{getProfileImg()}" alt="profile"/>
                                <i th:if="${selectForm.profileImg == null || selectForm.profileImg == ''}" class="fas fa-user-circle"
                                   style="width: 100px; height: 100px; color: #666;"></i>
                            </div>
                            <h4 style="text-align: center">프로필</h4>
                        </div>

                        <div>
                            <div class="profile-div">
                                <img th:if="*{getMemProfileImg() != null}" th:src="*{getMemProfileImg()}"
                                     alt="profile"/>
                                <i th:if="*{getMemProfileImg() == null}" class="fas fa-user-circle"
                                   style="width: 100px; height: 100px; color: #666;"></i>
                            </div>
                            <h4 style="text-align: center">멤버십</h4>
                        </div>
                    </div>

                    <table class="detail-table">
                        <tr>
                            <th>닉네임</th>
                            <td th:text="*{getNickname()}">닉네임값</td>
                        </tr>
                        <tr>
                            <th>가입일</th>
                            <td th:text="${#temporals.format(selectForm.regDt,'yyyy-MM-dd')}">가입일값</td>
                        </tr>
                        <tr>
                            <th>최근접속일</th>
                            <td th:text="${#temporals.format(selectForm.lastLoginDttm,'yyyy-MM-dd')}">값</td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td th:text="*{getEmail()}"> 값</td>
                        </tr>
                        <tr>
                            <th>어린이여부</th>
                            <td th:text="*{getKidYn()}">값</td>
                        </tr>
                        <tr>
                            <th>회원상태</th>
                            <span th:if="${selectForm.mmbrStatusCd != null}">
                            <td th:text="${codes[__${selectForm.mmbrStatusCd}__]}" class="td"></td>
                              </span>
                        </tr>
                        <tr>
                            <th>주언어</th>
                            <span th:if="${selectForm.mainLang != null}">
                                <span th:if="${selectForm.mainLang.equals('ko')}">
                                <td>한국어</td>
                                </span>
                            <span th:if="${selectForm.mainLang.equals('en')}">
                                <td>영어</td>
                                </span>
                            <span th:if="${selectForm.mainLang.equals('en-us')}">
                                <td>영어</td>
                                </span>
                            </span>
                            </span>
                        </tr>
                        <tr>
                            <th>보조언어</th>
                            <span th:if="${selectForm.subLang != null}">
                            <span th:if="${selectForm.subLang.equals('ko')}">
                                <td>한국어</td>
                                </span>
                            <span th:if="${selectForm.subLang.equals('en')}">
                                <td>영어</td>
                                </span>
                            <span th:if="${selectForm.subLang.equals('en-us')}">
                                <td>영어</td>
                                </span>
                            </span>
                            </span>
                        </tr>
                        <tr>
                            <th>소속명</th>
                            <td th:text="*{getAfltn()}">값</td>
                        </tr>
                        <tr>
                            <th>상태메세지</th>
                            <td th:text="*{getStateMsg()}">값</td>
                        </tr>
                        <tr>
                            <th>멤버쉽 상태코드(승인)</th>
                            <span th:if="${selectForm.mmbrshpStateCd != null}">
                            <td th:text="${codes[__${selectForm.mmbrshpStateCd}__]}" class="td"></td>
                              </span>
                        </tr>
                        <tr>
                            <th>멤버쉽종류 환경리더, 웰컴 등등</th>
                            <span th:if="${selectForm.gradCd != null}">
                            <td th:text="${codes[__${selectForm.gradCd}__]}" class="td"></td>
                              </span>
                        </tr>
                        <tr>
                            <th>최초등록일</th>
                            <td th:text="${#temporals.format(selectForm.frstRgstDttm,'yyyy-MM-dd')}">값</td>
                        </tr>
                        <tr>
                            <th>멤버십활동명</th>
                            <td th:text="*{getMemNickname()}">값</td>
                        </tr>
                        <tr>
                            <th>멤버쉽 카드 번호</th>
                            <td th:text="*{getMmbrshpNum()}">값</td>
                        </tr>
                        <tr>
                            <th>거절사유</th>
                            <td th:text="*{getRjctRsn()}">값</td>
                        </tr>
                        <tr>
                            <th>수정일</th>
                            <td th:text="${#temporals.format(selectForm.fnlModDttm,'yyyy-MM-dd')}">값</td>
                        </tr>
                        <tr>
                            <th>구독자수</th>
                            <td th:text="*{getSubscripCount()}">값</td>
                        </tr>
                    </table>

                    <h4>배경이미지</h4>
                    <div style="max-height: 500px; margin-bottom: 20px">
                        <img th:if="*{getBgImg() != null}" th:src="*{getBgImg()}" alt="bg"/>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <div class="input-group-btn" style="width: 60px;">
                                <button type="button" id="stop" class="btn-srch"
                                        th:onclick="'javascript:MembershipStop('+ *{getMmbrId()} +')'" th:text="정지"
                                        style="margin-right: 20px;"/>
                            </div>
                            <div class="input-group-btn" style="width: 60px;">
                                <button type="button" id="normal" class="btn-srch"
                                        th:onclick="'javascript:MembershipNormal('+ *{getMmbrId()} +')'" th:text="정상"
                                        style="margin-right: 20px;"/>
                            </div>
                            <div class="input-group-btn" style="width: 60px;">
                                <button type="button" id="reject" class="btn-srch"
                                        th:onclick="'javascript:MembershipReject('+ *{getMmbrId()} +')'" th:text="반려"/>
                            </div>
                        </div>
                        <div class="input-group-btn" style="width: 60px;">
                            <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-right: 0;"
                                    onClick="history.go(-1)" th:text="목록"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>