<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div th:object="${userForm}">
        <p>프로필사진</p>
        <img th:src="*{getProfileImg()}" />
        <br>
        <tr>
            <td>닉네임</td>
            <td th:text="*{getNickname()}">닉네임값</td>
        </tr>
        <br>
        <tr>
            <td>가입일</td>
            <td th:text="*{getRegDt()}">가입일값</td>
        </tr>
        <br>
        <tr>
            <td>최근접속일</td>
            <td th:text="*{getLastLoginDttm()}">값</td>
        </tr>
        <br>
        <tr>
            <td>이메일</td>
            <td th:text="*{getEmail()}"> 값</td>
        </tr>
        <br>
        <tr>
            <td>어린이여부</td>
            <td th:text="*{getKidYn()}">값</td>
        </tr>
        <br>
        <tr>
            <td>회원상태</td>
            <td th:text="*{getMmbrStatusCd()}"> 정상 휴면 탈퇴</td>
        </tr>
        <br>
        <tr>
            <td>멤버쉽여부</td>
            <td th:text="*{getMmbrshp()}"></td>
        </tr>
        <br>
        <tr>
            <td>주언어</td>
            <td th:text="*{getMainLang()}">값</td>
        </tr>
        <br>
        <tr>
            <td>보조언어</td>
            <td th:text="*{getSubLang()}">값</td>
        </tr>
    </div>
    <input type="button" value="목록으로" onClick="history.go(-1)">

</th:block>
</html>