<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            listSelect(0);

            // 검색 조건 변경 시 입력창 변경
            var searchSelect = "ALL";
            $("#searchSelect").change(() => {
                searchSelect = $('#searchSelect option:selected').val();
                $("#statusSelect").css('display', searchSelect === 'STATUS' ? 'block' : 'none');
                $("#langSelect").css('display', searchSelect === 'LANGUAGE' ? 'block' : 'none');
                $("#wrapDt").css('display', searchSelect === 'DATE' ? 'flex' : 'none');
                $("#searchStringBlock").css('display', (searchSelect === 'STATUS' || searchSelect === 'DATE'|| searchSelect === 'LANGUAGE') ? 'none' : 'block');
            });

            $("#startDt").val(moment().format('YYYY-MM-DD'));
            $("#startDt").datepicker({
                dateFormat: 'yy-mm-dd',
                maxDate: new Date(),
            });

            $("#endDt").val(moment().format('YYYY-MM-DD'));
            $("#endDt").datepicker({
                dateFormat: 'yy-mm-dd',
                maxDate: new Date(),
            });
        });

        function listSelect(page) {
            var f = document.form1;
            f.page.value = page;

            var searchSelect1 = $('#searchSelect option:selected').val();
            var searchStringId = $('#searchStringId').val();

            if(searchSelect1 != null){
                if(searchSelect1 === 'PHONENUMBER'){
                    if(!searchStringId.match(/^[0-9]*$/)){
                        alert("숫자만입력가능합니다.");
                        return;
                    }
                }
            }

            $.ajax({
                url: "user/info/listSelect",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                // data: send,
                async: false,
                error: function () {
                    // console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    $("#listArea").replaceWith(data);
                    // document.getElementById("listArea").innerHTML = data;
                }
            })
        }
    </script>
    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">사용자 조회</span>
        </div>
    </div>

    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div th:object="${userSelectForm}">
                        <form name="form1" id="form1" method="post">
                            <input type="hidden" value="0" name="page">
                            <input type="hidden" value="10" name="size">
                            <div style="display: flex; justify-content: flex-end;">
                                <select name="searchName" id="searchSelect" class="btn-primary term">
                                    <option th:each="search : ${UserSearchType}"
                                            th:text="${search.getVal()}"
                                            th:value="${search.getName()}"
                                    >
                                    </option>
                                </select>

                                <div id="searchStringBlock">
                                    <input type="text" id="searchStringId" name="searchString" maxlength="20"
                                           placeholder="Search" class="form-control brdr-rd input-sm inline"
                                           style="width:160px; margin-right: 15px; border-radius: 5px;">
                                </div>

                                <select id="statusSelect" th:name="searchStatus" class="btn-primary term"
                                        style="display: none;">
                                    <option
                                            th:each="status : ${UserStatusType}"
                                            th:text="${status.value}"
                                            th:value="${status.key}"
                                    >
                                    </option>
                                </select>

                                <select id="langSelect" name="langCd" class="btn-primary term"
                                        style="display: none;">
                                    <option
                                            th:each="status : ${LangStatusType}"
                                            th:text="${status.value}"
                                            th:value="${status.key}"
                                    >
                                    </option>
                                </select>

                                <div id="wrapDt" style="display: none;">
                                    <input type="text" id="startDt" name="startDt"
                                           class="form-control brdr-rd input-sm inline"
                                           style="width:160px; margin-right: 15px;"/>
                                    <input type="text" id="endDt" name="endDt"
                                           class="form-control brdr-rd input-sm inline"
                                           style="width:160px; margin-right: 15px;"/>
                                    <!--                                TODO -->
                                    <!--                                <input type="text" id="startDt" th:name="startDt" class="form-control brdr-rd input-sm inline" style="width:160px; margin-right: 15px;"/>-->
                                    <!--                                <input type="text" id="endDt" th:name="endDt" class="form-control brdr-rd input-sm inline" style="width:160px; margin-right: 15px;"/>-->
                                </div>

                                <div class="input-group-btn" style="width: 60px;">
                                    <button type="button" class="btn-srch" onclick="listSelect(0)" th:text="검색"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="listArea"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>