<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            listSelect(0);

        });

        function Stop(id) {
            console.log(id);
            $.ajax({
                url: "user/info/stop",
                type: 'GET',
                cache: false,
                dataType: "text",
                data: {seq: id},
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log(data)
                    window.location.href = '/admin/user/info/oneView?seq='+id;
                }
            })
        };

        function Normal(id) {
            console.log(id);
            $.ajax({
                url: "user/info/normal",
                type: 'GET',
                cache: false,
                dataType: "text",
                data: {seq: id},
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log(data)
                    window.location.href = '/admin/user/info/oneView?seq='+id;
                }
            })
        };
    </script>

    <div class="row m-t-lg" th:object="${userForm}">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="profile-div">
                        <img th:if="*{getProfileImg() != ''}" th:src="*{getProfileImg()}" alt="profile"/>
                        <i th:if="*{getProfileImg() == ''}" class="fas fa-user-circle"
                           style="width: 100px; height: 100px; color: #666;"></i>
                    </div>
                    <table class="detail-table">
                        <tr>
                            <th>닉네임</th>
                            <td th:text="*{nickname}">닉네임값</td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td th:text="*{email}"> 값</td>
                        </tr>
                        <tr>
                            <th>회원상태</th>
                            <span th:if="${userForm.mainLang !=null}">
                            <td th:text="${codes[__${userForm.mmbrStatusCd}__]} "> 정상 휴면 탈퇴</td>
                            </span>
                        </tr>
                        <tr>
                            <th>어린이여부</th>
                            <td th:text="*{kidYn}">값</td>
                        </tr>
                        <tr>
                            <th>멤버쉽여부</th>
                            <td th:text="*{mmbrshp}"></td>
                        </tr>
                        <tr>
                            <th>주언어</th>
                            <span th:if="${userForm.mainLang !=null}">
                            <td th:text="${codes[__${userForm.mainLang}__]} ">값</td>
                            </span>
                        </tr>
                        <tr>
                            <th>보조언어</th>
                            <span th:if="${userForm.subLang != null}">
                            <span th:if="${userForm.subLang.equals('ko')}">
                                <td>한국어</td>
                                </span>
                            <span th:if="${userForm.subLang.equals('en')}">
                                <td>영어</td>
                                </span>
                            <span th:if="${userForm.subLang.equals('en-us')}">
                                <td>영어</td>
                                </span>
                            </span>
                        </tr>
                        <tr>
                            <th>가입 일자</th>
                            <td id="regDt" th:text="${#temporals.format(userForm.regDt, 'yyyy-MM-dd')}"></td>
                        </tr>
                        <tr>
                            <th>최근 접속 일자</th>
                            <span th:if="${userForm.lastLoginDttm !=null}">
                            <td id="lastLoginDttm"
                                th:text="${#temporals.format(userForm.lastLoginDttm, 'yyyy-MM-dd')}"></td>
                                </span>
                        </tr>
                    </table>
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <div class="input-group-btn" style="width: 60px;">
                                <button type="button" id="stop" class="btn-srch"
                                        th:onclick="'javascript:Stop('+ *{getMmbrId()} +')'" th:text="정지"
                                        style="margin-right: 20px;"/>
                            </div>
                            <div class="input-group-btn" style="width: 60px;">
                                <button type="button" id="normal" class="btn-srch"
                                        th:onclick="'javascript:Normal('+ *{getMmbrId()} +')'" th:text="정상"/>
                            </div>
                        </div>
                        <div class="input-group-btn" style="width: 60px;">
                            <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-right: 0;"
                                    onClick="history.go(-1)" th:text="목록"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>