<html xmlns:th="http://www.thymeleaf.org">
<div id="listArea">
    <table class="table table-hoverm dataTable table-m table-border">
        <thead class="thead">
        <tr class="tr">
            <th class="th">No</th>
            <th class="th">NickName</th>
            <th class="th">Email</th>
            <th class="th">JoinType</th>
            <th class="th">POINT</th>
            <th class="th">LANGUAGE</th>
            <th class="th">JOINDATE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users : ${userList.getResults()}" class="tr">
            <td th:text="${page.getTotal() - usersStat.index -  page.getOffset()}"
                th:value="${users.getMmbrId()}" class="td"></td>
            <td class="td"><a th:text="${users.getNickname()}"
                              th:href="@{/user/info/oneView(seq=${users.getMmbrId()})}"></a></td>

            <td class="td"><a th:text="${users.getEmail()}"
                              th:href="@{/user/info/oneView(seq=${users.getMmbrId()})}"></a></td>


            <span th:if="${users.oauthTpCd !=null}">
                <td th:text="${codes[__${users.oauthTpCd}__]}" class="td"></td>
            </span>
            <span th:if="${users.oauthTpCd ==null}">
                <td class="td"></td>
            </span>
            <td th:text="${users.getPoint()}" class="td"></td>
            <span th:if="${users.cntrCd != null}">
                <td th:text="${codes[__${users.cntrCd}__]}" class="td"></td>
            </span>
            <span th:if="${users.cntrCd == null}">
                <td  class="td"></td>
            </span>
            <!--                <td th:text="${users.getRegDt()}" class="td"></td>-->
            <td th:text="${users.getRegDts()}" class="td"></td>
            <!--                <td th:text="${#temporals.format(users.getRegDt(), 'yyyy-MM-dd HH:mm:ss')}" class="td"></td>-->

        </tr>
        </tbody>
    </table>

    <div class="btn-page text-center">
        <button type="button" class="btn btn-pageAngle" title="처음"
                th:onclick="'javascript:listSelect(0)'">
            <i class="fa fa-angle-double-left"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="이전"
                th:onclick="'javascript:listSelect('+${page.getBackPage()}+')'">
            <i class="fa fa-angle-left"></i>
        </button>

        <button type="button" class="btn btn-pageNum" th:classappend="${page.getPage() == index} ? 'active' : ''"
                th:each="no : ${#numbers.sequence(page.getStartNum() , page.getLastNum())}"
                th:with="index= ${noStat.index + page.getStartNum()}"
                th:onclick="'javascript:listSelect('+ ${index} +')'"
                th:text="${page.getStartNum()}+${noStat.count}">
        </button>

        <button type="button" class="btn btn-pageAngle" title="다음"
                th:onclick="'javascript:listSelect('+${page.getNextPage()}+')'">
            <i class="fa fa-angle-right"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="끝"
                th:onclick="'javascript:listSelect('+${page.getEnd()}+')'">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </div>
</div>
</html>