<div class="modal custom-modal" id="selectModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="display: flex; justify-content: space-between;">
                <h4 style="width: 100%;" class="modal-title">포인트 부여</h4>
                <div>
                    <i class="fas fa-times" style="color: #222; cursor: pointer;" data-dismiss="modal"></i>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="form2" name="form2" method="post">
                    <table class="detail-table modal-table">
                        <tr >
                            <th>부여 점수</th>
                            <td><input type="text" id="point" name="point" th:field="${pointVo.point}"></td>
<!--                            <th>부여 경험치</th>-->
                            <td><input type="hidden" id="exp" name="exp" th:field="${pointVo.exp}"></td>
                        </tr>
                    </table>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="row" style="padding: 0 30px 10px;">
                    <button type="button" class="btn-srch" style="width: 60px; margin-right: 20px; border-radius: 5px" data-dismiss="modal"
                    th:onclick="pointSave()"
                    >Save</button>
                    <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-right: 0;" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>