<html xmlns:th="http://www.thymeleaf.org">
<div id="listArea">
    <table class="table table-hoverm dataTable table-m table-border">
        <thead class="thead">
        <tr class="tr">
            <th class="th">No</th>
            <th class="th">상태</th>
            <th class="th">콘텐츠</th>
            <th class="th">댓글수</th>
            <th class="th">피드타입</th>
            <th class="th">공개범위</th>
            <th class="th">조회수</th>
            <th class="th">등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="story : ${storyList.getResults()}" class="tr">

            <td th:text="${page.getTotal() - storyStat.index -  page.getOffset()}"
                th:value="${story.storyId}" class="td"></td>

            <td  class="td">
                <a th:text="${codes[__${story.storyStatCd}__]}"
                   th:href="@{/active/story/oneView(seq=${story.storyId})}"></a>
            </td>

            <td th:if="${#strings.length(story.storyCntn) > 20}" class="td">
                <a th:text="${#strings.substring(story.storyCntn,0,20)}"
                   th:href="@{/active/story/oneView(seq=${story.storyId})}"></a>
            </td>

            <td th:unless="${#strings.length(story.storyCntn) > 20}" class="td">
                <a th:text="${story.storyCntn}"
                   th:href="@{/active/story/oneView(seq=${story.storyId})}"></a>
            </td>

            <td th:text="${story.comentCount}" class="td"></td>

            <td th:text="${codes[__${story.feedTpCd}__]}" class="td"></td>

            <td th:text="${codes[__${story.privateTpCd}__]}" class="td"></td>


            <td th:text="${story.viewCnt}" class="td"></td>

            <td th:text="${#temporals.format(story.regDt, 'yyyy-MM-dd')}" class="td"></td>
        </tr>
        </tbody>
    </table>

    <div class="btn-page text-center">
        <button type="button" class="btn btn-pageAngle" title="처음"
                th:onclick="'javascript:listSelect(0)'">
            <i class="fa fa-angle-double-left"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="이전"
                th:onclick="'javascript:listSelect('+${page.getBackPage()}+')'">
            <i class="fa fa-angle-left"></i>
        </button>

        <button type="button" class="btn btn-pageNum" th:classappend="${page.getPage() == index} ? 'active' : ''"
                th:each="no : ${#numbers.sequence(page.getStartNum() , page.getLastNum())}"
                th:with="index= ${noStat.index + page.getStartNum()}"
                th:onclick="'javascript:listSelect('+ ${index} +')'"
                th:text="${page.getStartNum()}+${noStat.count}">
        </button>

        <button type="button" class="btn btn-pageAngle" title="다음"
                th:onclick="'javascript:listSelect('+${page.getNextPage()}+')'">
            <i class="fa fa-angle-right"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="끝"
                th:onclick="'javascript:listSelect('+${page.getEnd()}+')'">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </div>
</div>
</html>