<!-- 이게 맞음-->


.modal {
	/* display: none;
	/* Hidden by default */
	/* position: fixed; */
	/* Stay in place */
	/* z-index: 1; */
	/* Sit on top */
	/* left: 0; */
	/* top: 0;/*  */
	/* width: 100%; */
	/* Full width */
	/* height: 100%; */
	/* Full height */
	/* overflow: auto; */
	/* Enable scroll if needed */
}


.chatbotbtn {
	border: 0;
	color: #444C5D;
	line-height: 1;
	cursor: pointer;
	font-size: 14px;
	font-weight: 100;
	padding: 5px 5px;
	border-radius: 20px;
	font-family: "나눔바른고딕", sans-serif;
	background: #EDEDED;
	box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, .25)
}

/* Modal Content/Box */
/* .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%; 
}
 */
/* 캐로셀을 위한 css */
html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.regular {
	width: 100%;
	/* margin: 100px auto; */
}

.slick-slide {
	margin: 0px 5px;
}

.slick-slide img {
	width: 113.5%;
}

/* 캐로셀을 위한 css END */

.botui-container {
	font-size: 12px;
	font-weight:600;
	background-color: #B2C7D9;
	font-family: "나눔바른고딕", sans-serif
}

.botui-messages-container {
	padding: 10px 20px 10px 10px;
}

.botui-actions-container {
	padding: 10px 20px;
	position: sticky;
	bottom: 0;
}

#botui-time{
	font-size: 10px;
	float: right;
	margin-top:5px;
	font-weight:100;
	margin-right:38px;
	font-family:"나눔 바른 고딕"
}

.botui-message {
	min-height: 30px
}

/* 사용자 이미지를 위해 추가 */

.botui-message-name {
	padding: 3px 0px 5px 40px;
	border-radius: 15px;
	color: #444C5D;
	display: block;
	/* background-color: #EDEDED */
}

.botui-message-content {
	/* padding: 6.5px 11px; */
	padding-top: 10px;
	padding-bottom: 21.5px;
	padding-left: 12px;
	padding-right: 17px;
	border-radius: 3px;
	color: #444C5D;
	background-color: #FFFFFF;
	float:left;
}

.botui-message-content-single {
	/*padding: 7px 13px;*/
	/*padding-top: 1.5px;
	padding-bottom: 1.8px;
	padding-left: 0px;
	padding-right: 0px;*/
	padding-top: 10px;
    padding-bottom: 22px;
    padding-left: 12px;
    padding-right: 17px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius:3px;
	margin-top:6px;
	margin-left:10%;
	color: #444C5D;
	background-color: #FFFFFF
}.translate{
	transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -moz-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -webkit-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -o-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);

}

.botui-message-content-list {
	/*padding: 7px 13px;*/
	/*padding-top: 1.5px;
	padding-bottom: 1.8px;
	padding-left: 0px;
	padding-right: 0px;*/
	padding-top: 10px;
    padding-bottom: 22px;
    padding-left: 12px;
    padding-right: 17px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius:3px;
	margin-top:1px;
	margin-left:10%;
	color: #444C5D;
	background-color: #FFFFFF
}.translate{
	transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -moz-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -webkit-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -o-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);

}

.botui-message-content-single-image {
	/*padding: 7px 13px;*/
	/*padding-top: 1.5px;
	padding-bottom: 1.8px;
	padding-left: 0px;
	padding-right: 0px;*/
	/* padding-top: 10px;
    padding-bottom: 22px;*/
    padding-left: 12px; 
    padding-right: 17px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius:3px;
	margin-top:15px;
	margin-left:10%;
	color: #444C5D;
	background-color: #FFFFFF
}.translate{
	transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -moz-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -webkit-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -o-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);

}



.botui-message-content-multiple {
	/*padding: 7px 13px;*/
	/*padding-top: 1.5px;
	padding-bottom: 1.8px;
	padding-left: 0px;
	padding-right: 0px;*/
	padding-top: 10px;
    padding-bottom: 22px;
    padding-left: 12px;
    padding-right: 17px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius:3px;
	margin-top:6px;
	color: #444C5D;
	background-color: #FFFFFF
}.translate{
	transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -moz-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -webkit-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);
    -o-transform:translate(50px,50px) rotate(-10deg) scale(1.5,1.1);

}

.botui-message-content.human {
	color: #444C5D;
	background-color: #FFEB33
}
.botui-message-content.text {
	line-height: 1.3;
	width:44%;
}

.botui-message-content.loading {
	background-color: rgba(206, 206, 206, .5);
	line-height: 1.3;
	text-align: center
}

.botui-message-content.embed {
	padding: 5px;
	border-radius: 5px
}

.botui-message-content-link {
	color: #919292
}
/* tab 했을 경우 추가 */

.botui-message-content-noprofil {
	padding-top: 10px;
	padding-bottom: 3.5px;
	padding-left: 2px;
	padding-right: 0px;
	border-radius: 3px;
	color: #444C5D;
	background-color: #FFFFFF;
	float:left;
	margin-left : 30px;
	padding-top: 8px;
	padding-bottom: 22px;
	padding-left: 12.5px;
	padding-right: 12px;
	border-radius: 3px;
/* 	
	padding: 7px 13px;
	border-radius: 15px;
	color: #444C5D;
	background-color: #fff;
	margin-top: 5px; */
	float: left;
}


.botui-message-content-noprofil-multiple {
	padding: 7px 13px;
	border-radius: 15px;
	color: #444C5D;
	background-color: #EDEDED
}

.botui-message-content-noprofil.human {
	color: #fff;
	background-color: #71509F
}

.botui-message-content-noprofil.text {
	line-height: 1.3
}

.botui-message-content-noprofil.loading {
	background-color: rgba(206, 206, 206, .5);
	line-height: 1.3;
	text-align: center
}

.botui-message-content-noprofil.embed {
	padding: 5px;
	border-radius: 5px
}

.botui-message-content-noprofil-link {
	color: #919292
}

.botui-actions-text-input {
	border: 0;
	outline: 0;
	border-radius: 0;
	width: 100%;
	padding: 5px 7px;
	font-family: "나눔바른고딕";
	background-color: #F3F3F3;
	color: #000;
	border-bottom: 1px solid #919292;
}

.botui-actions-text-submit {
	color: #fff;
	width: 30px;
	padding: 5px;
	height: 30px;
	line-height: 1;
	border-radius: 50%;
	border: 1px solid #919292;
	background: #777979
}
.botui-quick-buttons {
	margin: 0px 0px 0px 0px;
}

.botui-actions-buttons-button {
	
	padding-top: 11px;
    padding-bottom: 10.5px;
    padding-left: 12.5px;
    padding-right: 6.5px;
	border: 0;
	color: #444C5D;
	line-height: 1;
	cursor: pointer;
	font-size: 9px;
	font-weight: 700;
	padding: 5px 12px;
	border-radius: 20px;
	font-family: "나눔바른고딕";
	background: #EDEDED;
	width:auto;
	/*box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, .25)*/
}

/* 카드형에 들어가는 버튼 class */
.botui-output-buttons-button {
	border-style:double;
	color: #444C5D;
	width: 102%;
	cursor: pointer;
	font-size: 11px;
	font-weight: 700;
	padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
	margin-top: 8px;
	margin-bottom: -10px;
	/* margin-left:0px; */
	margin-right: 8px;
	font-family: "나눔바른고딕", sans-serif;
	background: #FFFFFF;
}

.botui-output-buttons-list-button {
	border-style:double;
	color: #444C5D;
	width: 46%;
	cursor: pointer;
	font-size: 11px;
	font-weight: 700;
	padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
	margin-top: 8px;
	margin-bottom: -10px;
	margin-left:-4px;
	margin-right: 8px;
	font-family: "나눔바른고딕", sans-serif;
	background: #FFFFFF;
	position:relative;
	left:15px;
	
}



.botui-output-buttons-alink {
	/* border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px; */
    /*border-radius: 4px;*/
    border-style:double;
    padding-top: 9px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    margin-right: 8px;
    margin-left:4px;
    
    margin-bottom: -9px;
	color: #444C5D;
	width: 273px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	margin-top: 8px;
	font-family: "나눔바른고딕", sans-serif;
	background: #FFFFFF;
	/*box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, .25)*/
}

.botui-output-buttons-alink a {
	display: inherit;
	/*border: 1;*/
	text-align: center;
	color: #444C5D;
	line-height: 1;
	width: 100%;
	padding: 7px 15px;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	font-family: "나눔바른고딕", sans-serif;
}


/* 카드형에 들어가는 버튼 class  END*/

.botui-actions-text-select {
	border: 0;
	outline: 0;
	border-radius: 0;
	padding: 5px 7px;
	font-family: "나눔바른고딕", sans-serif;
	background-color: transparent;
	color: #444C5D;
	border-bottom: 1px solid #919292
}

.botui-actions-text-searchselect {
	border: 0;
	outline: 0;
	border-radius: 0;
	padding: 5px 7px;
	font-family: "나눔바른고딕", sans-serif;
	background-color: transparent;
	color: #444C5D;
	/*border-bottom: 1px solid #919292*/
}

.botui-actions-text-searchselect .dropdown-toggle {
	border: none !important
}

.botui-actions-text-searchselect .selected-tag {
	background-color: transparent !important;
	border: 0 !important
}

.slide-fade-enter-active {
	transition: all .3s ease
}

.slide-fade-enter,
.slide-fade-leave-to {
	opacity: 0;
	transform: translateX(-10px)
}

.dot {
	width: .5rem;
	height: .5rem;
	border-radius: .5rem;
	display: inline-block;
	background-color: #919292
}

.dot:nth-last-child(1) {
	margin-left: .3rem;
	animation: loading .6s .3s linear infinite
}

.dot:nth-last-child(2) {
	margin-left: .3rem;
	animation: loading .6s .2s linear infinite
}

.dot:nth-last-child(3) {
	animation: loading .6s .1s linear infinite
}

@keyframes loading {
	0% {
		transform: translate(0, 0);
		background-color: #ababab
	}

	25% {
		transform: translate(0, -3px)
	}

	50% {
		transform: translate(0, 0);
		background-color: #ababab
	}

	75% {
		transform: translate(0, 3px)
	}

	100% {
		transform: translate(0, 0)
	}
}
