<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

    <style>
        h1 {
            width: 90%;
            margin: auto;
            margin-bottom: 20px;
        }

        .box {
            background-color: #F5F5F5;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
        }

        .item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            width: 90%;
        }

        .item p {
            width: 100px;
        }

        .btn {
            display: flex;
            align-items: center;
            margin: 20px auto;
            width: 10%;
            justify-content: space-between;
        }
    </style>

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            listSelect(0);
        });

        function listSelect(page) {
            var f = document.form1;
            f.page.value = page;
            console.log(page);
            $.ajax({
                url: "active/subaction/listSelect",
                // method: 'POST',
                type: 'POST',
                // type: 'GET',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    $("#listArea").replaceWith(data);
                    // document.getElementById("listArea").innerHTML = data;
                }
            })
        };
    </script>

    <!--    <h1 class="h1"> 유저 정보</h1>-->

    <!--    <form name="form1" id="form1" method="post" class="bk-input" th:object="${userList}">-->

    <!--        <select th:each="search : ${UserSearchType}" th:filed="*{getSearchNameVal()}">-->
    <!--            <option th:value="${search.getName()}" th:text="${search.getVal()}"></option>-->
    <!--        </select>-->
    <!--        <span>검색어</span> <input type="text" name="adminEmail" class="bk-input" placeholder="메일 검색"> <br>-->

    <!--        <select th:each="status : ${UserStatusType}" th:filed="*{getSearchStatusVal()}">-->
    <!--            <option th:value="${status.getName()}" th:text="${status.getVal()}"></option>-->
    <!--        </select>-->
    <!--        <span>검색어</span> <input type="text" name="adminEmail" class="bk-input" placeholder="메일 검색"> <br>-->

    <!--        <input type="hidden" value="0" name="page" th:filed="*{getPage()}">-->
    <!--        <input type="hidden" value="10" name="size" th:filed="*{getSize()}">-->
    <!--        <button type="button" class="btn btn-add pull-left" onclick="listSelect(0)">검색</button>-->
    <form name="form1" id="form1" method="post" th:object="${effectReq}">
    <h1>미션 서브</h1>
                <input type="hidden" value="0" name="page" th:filed="*{getPage()}">
                <input type="hidden" value="10" name="size" th:filed="*{getSize()}">
    <div class="box form-box">
        <div class="item form-box">
            <span>검색어</span><br>
            <select style="background-color: #FFFFFF" th:name="searchName">
                <option th:each="search : ${UserSearchType}"
                        th:text="${search.getVal()}"
                        th:value="${search.getName()}"
                >
                </option>
            </select>
            <input type="text" th:name="searchNameVal">
        </div>
        <div class="item item2">
            <span>가입일</span>
            <select style="background-color: #FFFFFF">
                <option>전체</option>
                <option>A</option>
                <option>B</option>
            </select>

            <span><input type="date" name="startDate"></span> -
            <span><input type="date" name="endDate"></span>
        </div>


        <div class="item item3">
            <span>상태</span><br>
            <select style="background-color: #FFFFFF" th:name="searchStatus">
                <option
                        th:each="status : ${UserStatusType}"
                        th:text="${status.getVal()}"
                        th:value="${status.getName()}"
                >
                </option>
            </select>
        </div>
        <div class="btn">
            <button type="button"  onclick="listSelect(0)">검색</button>
            <button  type="button"  >초기화</button>
        </div>
    </div>
    </form>

    <table class="table">
        <thead class="thead">
        <tr class="tr">
            <th class="th">No</th>
            <th class="th">Content</th>
            <th class="th">생성일</th>
        </tr>
        </thead>
    </table>
    <div id="listArea"></div>


    </form>


</th:block>
</html>