<html xmlns:th="http://www.thymeleaf.org">
<div id="listArea">

    <div>

        <table class="table">
            <tr th:each="users : ${userList.getResults()}" class="tr">
                <td th:text="${page.getTotal() - usersStat.index -  page.getOffset()}"
                    th:value="${users.getMssnSubId()}" class="td"></td>
                <td class="td"><a th:text="${users.getSubTitle()}"
                                  th:href="@{/active/effect/oneView(seq=${users.getMssnSubId()})}"></a></td>
                <td th:text="${users.getRegDttm()}" class="td"></td>
            </tr>
        </table>

        <div align="center">
            <button type="button" class="btn btn-pageAngle" title="처음"
                    th:onclick="'javascript:listSelect(0)'">
                <i class="fa fa-angle-double-left"></i>처음
            </button>

            <button type="button" class="btn btn-pageAngle" title="이전"
                    th:onclick="'javascript:listSelect('+${page.getBackPage()}+')'">
                <i class="fa fa-angle-left">
                </i>이전
            </button>

            <span th:each="no : ${#numbers.sequence(page.getStartNum() , page.getLastNum())}">
                                <button type="button" class="btn btn-pageAngle"
                                        th:with="index= ${noStat.index + page.getStartNum()}"
                                        th:onclick="'javascript:listSelect('+ ${index} +')'"
                                        th:text="${page.getStartNum()}+${noStat.count}">
                                </button>
                                    </span>
            <button type="button" class="btn btn-pageAngle" title="다음"
                    th:onclick="'javascript:listSelect('+${page.getNextPage()}+')'">
                <i class="fa fa-angle-left"></i>다음
            </button>

            <button type="button" class="btn btn-pageAngle" title="끝"
                    th:onclick="'javascript:listSelect('+${page.getEnd()}+')'">
                <i class="fa fa-angle-left"></i>끝
            </button>

        </div>
    </div>
</div>
</html>