<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <script type=text/javascript>
        $(document).ready(function () {
            $('.menu1').click(function(){
                $(this).children('.menu2').stop().slideToggle(200);
                $(this).siblings('li').children('.menu2').slideUp(200);
                // $(this).children('.menu2').show();
            });
            $('.menu2').click(function(){
                $(this).stop().slideToggle(200);
            });


        });
    </script>

    <style>
        .txt_post {
            display: -webkit-box;
            display: -ms-flexbox;
            display: block;
            margin-top: 1px;
            max-height: 80px;
            overflow: hidden;
            vertical-align: top;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2
        }
    </style>

    <!-- Sidebar -->
    <nav class="navbar-default navbar-static-side" role="navigation" id="commonmenu">
        <div id="menuListArea">
            <div class="sidebar-collapse">
                <ul id="side-menu" class="nav metismenu">
                    <li class="menu1" th:each="pm : ${PMenu}">
                        <a th:text="${pm.getVal()}"></a>
                        <ul class="menu2">
                            <li th:each="cm : ${pm.getCMenu()}">
                                <a th:text="${cm.getVal()}" th:href="@{${cm.getURL()}}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>

</html>