<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="topbarFragment">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            adminDataSelect();
        });

        function adminDataSelect() {
            // var f = document.form1;
            // f.page.value = page;
            // console.log(page);
            $.ajax({
                url: "login/top",
                // method: 'POST',
                // type: 'POST',
                type: 'GET',
                cache: false,
                dataType: "html",
                // data: $('#form1').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    $("#topAdminArea").replaceWith(data);
                    // document.getElementById("getname").innerHTML = <h1 value=data> </h1>;
                }
            })
        };

        function Logout() {

            $.ajax({
                url: "login/logout",
                type: 'GET',
                cache: false,
                dataType: "text",
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function () {
                    window.location.href = '/admin/login/info';
                    console.log('logout');
                }
            })
        };
    </script>


    <!-- Topbar -->
    <div class="row border-bottom" id="commonheader">
        <nav class="navbar navbar-static-top" role="navigation" style="display: block; margin-bottom: 0">
            <ul class="nav navbar-top-links navbar-left">
                <!--        TODO:후시 로고 넣을 것        -->
                <!--                <img src="/admin/img/logo.png" style="height: 32px; margin-left: 16px; margin-right: 10px; margin-bottom: 7px;" />-->
                <li>
                    HOOXI ADMIN MANAGERMENT
                </li>
            </ul>

            <ul class="nav navbar-top-links navbar-right" id="topAdminArea">
            </ul>

            <!--로그인 후 변수 처리해야 함-->
            <!--현재 임시-->
            <!--            <ul class="nav navbar-top-links navbar-right" th:with="adminYn='Y'">-->
            <!--                <li style="margin-right: 10px;">-->
            <!--                    <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">-->
            <!--                        <th:block th:if="${adminInfo} != null and ${adminInfo} != ''">-->
            <!--                        &nbsp;<span th:text="${adminInfo.adminId}"></span>-->
            <!--                        </th:block>-->
            <!--                        <img th:src="@{/img/manager/arrow.png}" width="18" height="18" alt="" class="m-r-sm" />-->

            <!--                    </button>-->
            <!--                    <ul class="dropdown-menu pull-right">-->
            <!--                        <li><a href="javascript:;" onclick="fnDoLogout();">로그아웃</a></li>-->
            <!--                    </ul>-->
            <!--                </li>-->

            <!--                <th:block th:if="${adminInfo} != null and ${adminInfo} != ''">-->
            <!--                    <li th:if="${adminInfo.superYn == 'Y'}">-->
            <!--                        <a th:href="@{/user/userManage}" title="관리자관리 페이지로 이동">-->
            <!--                            회원관리-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li th:unless="${adminInfo.superYn == 'Y'}">-->
            <!--                        <a href="#" style="visibility: hidden;">-->
            <!--                            <i class="fa fa-users" style="font-size: 20px;"></i>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                </th:block>-->


            <!--            </ul>-->

        </nav>
    </div>

</th:block>
</html>