<ul class="nav navbar-top-links navbar-right" id="topAdminArea" style="margin-right: 0;">
    <li style="margin-right: 16px;"><span th:text="'(' + ${adminSet.getAdminEmail()} + ')'"></span></li>

    <li style="margin-right: 10px;">
            <i class="fas fa-user" style="color: #fff; margin-left: 4px; margin-right: 6px "></i>
            <span th:text="${adminSet.getAdminName()} + '님'"></span>
    </li>

    <li><span><a  th:onclick="Logout()">로그아웃</a></span></li>
</ul>