<html xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:inline="javascript">


</script>

<div id="actionSelectList">

    <select style="background-color: #FFFFFF" name="actionSelector" id="actionSelector">
        <option
                name="companyId"
                th:each="list : ${actionSelect}"
                th:text="${list.mssnTitle}"
                th:value="${list.mssnId}"
        >
        </option>
    </select>

    <div class="input-group-btn" style="width: 60px;">
        <button type="button" class="btn-srch" style="border-radius: 5px; margin-right: 0;" th:onclick="addSelectOption()" th:text="추가" />
    </div>

</div>
</html>