<html xmlns:th="http://www.thymeleaf.org">




<div id="selecComList">

    <select style="background-color: #FFFFFF" th:name="companyId" id="companyId">
        <option
                name="companyId"
                th:each="list : ${comSelect}"
                th:text="${list.companyName}"
                th:value="${list.companyId}"
        >
        </option>
    </select>

</div>
</html>