<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            listSelect(0);

            var searchSelect = "ALL";
            $("#searchSelect").change(() => {
                searchSelect = $('#searchSelect option:selected').val();
                $("#statusSelect").css('display', searchSelect === 'STATUS' ? 'block' : 'none');
                $("#wrapDt").css('display', searchSelect === 'DATE' ? 'flex' : 'none');
                $("#searchStringBlock").css('display', (searchSelect === 'STATUS' || searchSelect === 'DATE') ? 'none' : 'block');
            });

            $("#startDt").val(moment().format('YYYY-MM-DD'));
            $("#startDt").datepicker({
                dateFormat: 'yy-mm-dd',
                maxDate: new Date(),
            });

            $("#endDt").val(moment().format('YYYY-MM-DD'));
            $("#endDt").datepicker({
                dateFormat: 'yy-mm-dd',
                maxDate: new Date(),
            });
        });

        function listSelect(page) {
            var f = document.form1;
            f.page.value = page;
            console.log(page);
            $.ajax({
                url: "user/com/listSelect",
                // method: 'POST',
                type: 'POST',
                // type: 'GET',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function () {
                    // console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    $("#listArea").replaceWith(data);
                    // document.getElementById("listArea").innerHTML = data;
                }
            })
        };
    </script>

    <!--    <h1 class="h1"> 유저 정보</h1>-->

    <!--    <form name="form1" id="form1" method="post" class="bk-input" th:object="${userList}">-->

    <!--        <select th:each="search : ${UserSearchType}" th:filed="*{getSearchNameVal()}">-->
    <!--            <option th:value="${search.getName()}" th:text="${search.getVal()}"></option>-->
    <!--        </select>-->
    <!--        <span>검색어</span> <input type="text" name="adminEmail" class="bk-input" placeholder="메일 검색"> <br>-->

    <!--        <select th:each="status : ${UserStatusType}" th:filed="*{getSearchStatusVal()}">-->
    <!--            <option th:value="${status.getName()}" th:text="${status.getVal()}"></option>-->
    <!--        </select>-->
    <!--        <span>검색어</span> <input type="text" name="adminEmail" class="bk-input" placeholder="메일 검색"> <br>-->

    <!--        <input type="hidden" value="0" name="page" th:filed="*{getPage()}">-->
    <!--        <input type="hidden" value="10" name="size" th:filed="*{getSize()}">-->
    <!--        <button type="button" class="btn btn-add pull-left" onclick="listSelect(0)">검색</button>-->
    <div class="title">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">회사 조회</span>
        </div>
    </div>

    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" th:object="${comForm}">
                        <input type="hidden" value="0" name="page" th:field="*{page}">
                        <input type="hidden" value="10" name="size" th:field="*{size}">
                        <div style="display: flex; justify-content: space-between;">
                            <button type="button" class="btn-srch" th:onclick="'location.href=\''+ @{/user/com/create}+'\''"  th:text="생성"/>
                            <div style="display: flex; justify-content: flex-end;">
                                <select th:name="searchName" id="searchSelect" class="btn-primary term">
                                    <option th:each="search : ${CompanySearchType}"
                                            th:text="${search.getVal()}"
                                            th:value="${search.getName()}"
                                    >
                                    </option>
                                </select>

                                <div id="searchStringBlock">
                                    <input type="text" id="searchString" th:name="searchNameVal" maxlength="20"
                                           placeholder="Search" class="form-control brdr-rd input-sm inline"
                                           style="width:160px; margin-right: 15px; border-radius: 5px;">
                                </div>

                                <select id="statusSelect" th:name="searchStatus" class="btn-primary term"
                                        style="display: none;">
                                    <option
                                            th:each="status : ${UserStatusType}"
                                            th:text="${status.value}"
                                            th:value="${status.key}"
                                    >
                                    </option>
                                </select>

                                <div id="wrapDt" style="display: none;">
<!--                                    <input type="text" id="startDt" class="form-control brdr-rd input-sm inline"-->
<!--                                           style="width:160px; margin-right: 15px;"/>-->
<!--                                    <input type="text" id="endDt" class="form-control brdr-rd input-sm inline"-->
<!--                                           style="width:160px; margin-right: 15px;"/>-->
                                    <!--                                TODO -->
                                                                    <input type="text" id="startDt" th:name="startDt" class="form-control brdr-rd input-sm inline" style="width:160px; margin-right: 15px;"/>
                                                                    <input type="text" id="endDt" th:name="endDt" class="form-control brdr-rd input-sm inline" style="width:160px; margin-right: 15px;"/>
                                </div>

                                <div class="input-group-btn" style="width: 60px;">
                                    <button type="button" class="btn-srch" onclick="listSelect(0)" th:text="검색"/>
                                </div>
                            </div>
                        </div>
                        <div id="listArea"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>