<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

    <script type="text/javascript" th:inline="javascript">

        function MissionFormSave() {
            console.log("Save")
            var form1 = $('#formUp')[0];
            var formData1 = new FormData($('#formUp')[0]);
            $.ajax({
                url: "user/com/save",
                type: "POST",
                cache: false,
                dataType: "text",
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                async: false,
                data: formData1,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    // $("#selecCateList").replaceWith(data);
                    console.log(data);
                    window.location.href = data;
                }
            })
        };

    </script>
    <div class="row m-t-lg" th:object="${selectForm}">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="profile-div">
                        <img th:if="*{imgUrl != null}" th:src="*{imgUrl}" alt="profile"/>
                        <i th:if="*{imgUrl == null}" class="fas fa-user-circle" style="width: 100px; height: 100px; color: #666;"></i>
                    </div>

                    <form id="formUp" name="formUp" method="post" >
                        <table class="detail-table">
                            <tr>
                                <th>회사명</th>
                                <td><input type="text" th:field="*{companyName}"/></td>
                            </tr>
                            <tr>
                                <th>회사소개</th>
                                <td><input type="text" th:field="*{contents}"></td>
                            </tr>
                            <tr>
                                <th>프로필</th>
                                <td><input type="file" name="file" id="file"></td>
                            </tr>
                        </table>
                        <input type="hidden" th:field="*{companyId}">
                        <input type="hidden" th:field="*{regId}">
                        <input type="hidden" th:field="*{regDttm}">
                        <input type="hidden" th:field="*{modId}">
                        <input type="hidden" th:field="*{modDttm}">
                    </form>

                    <div style="display: flex; justify-content: space-between;">
                        <div class="input-group-btn" style="width: 60px;">
                            <button type="button" id="save" class="btn-srch" th:onclick="'javascript:MissionFormSave()'" th:text="저장" style="margin-right: 20px;"/>
                        </div>
                        <div class="input-group-btn" style="width: 60px;">
                            <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-right: 0;" onClick="history.go(-1)" th:text="목록" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>