<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!--<link href="/manager/font-awesome/css/font-awesome.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/fontawesome-free-6.1.1-web/css/all.min.css}">
    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/manager.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/select2/select2.min.css}" rel="stylesheet">

    <link th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet">
    <link th:href="@{/css/newstyle.css}" rel="stylesheet">

    <!-- favicon -->
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" >

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/js/jquery_cookie.js}"></script>

    <script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>

    <!-- jQuery UI -->
    <script th:src="@{/js/manage.comn.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- Select2 -->
    <script th:src="@{/js/plugins/select2/select2.full.min.js}"></script>

    <!-- Jasny -->
    <script th:src="@{/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
    <!-- Chosen -->
    <script th:src="@{/js/plugins/chosen/chosen.jquery.js}"></script>

    <!-- jquery.serialize-object -->
    <script th:src="@{/js/jquery.serialize-object.js}"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">
        $.ajaxPrefilter(function(options, originalOptions, jqXHR ) {
            options.url = "/admin" + "/" + options.url;
            jqXHR.setRequestHeader("AJAX", "true");
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            if (jqxhr.status == '401') {
                alert("세션이 만료되었습니다.");
                location.href="/manager";
            } else if (jqxhr.status == '500') {
                alert("서버와의 연결이 끊어졌습니다. 서버가 켜져 있고 IP 주소에 도달 할 수 있는지 확인하십시오.");
            } else {
                alert("서버 오류가 발생하였습니다. 관리자에게 문의하세요.");
            }

            console.log("status : " + jqxhr.status + ", statusText : " + jqxhr.statusText);
            console.log("responseText : " + jqxhr.responseText);
            console.log("url : " + settings.url);
            console.log(event);
            console.log(jqxhr);
            console.log(settings);
            console.log(thrownError);
        });

        function fnDoLogout() {
            var cfm = confirm("로그아웃 하시겠습니까?");
            if (cfm) {
                document.logoutForm.submit();
                /* $.ajax({
                    url: "login/logout",
                    type:'POST',
                    cache: false,
                    dataType: "json",
                    async: false,
                    success: function(data) {
                        location.href = "/manager/";
                    },
                    error: function(e) {
                        console.log(e);
                    }
                 }); */
            }
        }
    </script>
    <form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post">
        <input type="hidden" name="" value="">
    </form>

    <title>Login Page</title>
    <script th:src="@{/js/crypto/jsbn.js}"></script>
    <script th:src="@{/js/crypto/rsa.js}"></script>
    <script th:src="@{/js/crypto/prng4.js}"></script>
    <script th:src="@{/js/crypto/rng.js}"></script>


    <script type="text/javascript">
        $(document).ready(function(){
        });

        function fnDoLogin() {

            $.cookie("isShowSimulBar", true, {path:'/'});

            var f = document.form1;
            if (f.userId.value.trim() == "") {
                alert("아이디를 입력하세요.");
                f.userId.focus();
                return;
            }

            if (f.passwd.value.trim() == "") {
                alert("비밀번호를 입력하세요.");
                f.passwd.focus();
                return;
            }

            $("#form1").submit();

            /*
            var isDuplicateLogin = false;
            var userInfoArr = new Array();


            for (var i = 0; i < userInfoArr.length; i++) {
                if (userInfoArr[i] == f.j_username.value.trim()) {
                    isDuplicateLogin = true;
                }
            }

            if (isDuplicateLogin) {
                var cfm = confirm("동일한 아이디로 다른 PC에서 접속 중입니다. 기존 접속을 끊고 현재 PC에서 로그인 하시겠습니까?");
                if (cfm) {
                    $("#form1").submit();
                }
            } else {
                $("#form1").submit();
            }

             */

            /* $.ajax({
                url: "login/checkLoginUsing",
                type:'POST',
                cache: false,
                dataType: "json",
                data: $('#form1').serialize(),
                async: false,
                success: function(data) {
                    if (data.isUsing) {
                        var cfm = confirm("동일한 아이디로 다른 PC에서 접속 중입니다. 기존 접속을 끊고 현재 PC에서 로그인 하시겠습니까?");
                        if (cfm) {
                            f.sessionDeleteYn.value = 'Y';
                            fnDoLoginProc();
                        }
                        return;
                    } else {
                        fnDoLoginProc();
                    }
                }
             }); */

        }

        function fnDoLoginProc() {
            var f = document.form1;
            $.ajax({
                url: "login/check",
                type:'POST',
                cache: false,
                dataType: "json",
                data: $('#form1').serialize(),
                async: false,
                success: function(data) {
                    alert(data.result);

                    if (data.result == 1) {
                        alert("아이디 또는 비밀번호를 다시 확인하세요.\n등록되지 않은 아이디이거나, 아이디 또는 비밀번호를 잘못 입력하였습니다.");
                        return;
                    }
                    // if (data.errorCode != 0) {
                    //     alert(data.errorMessage);
                    //     return;
                    // }
                    if(data.result == 0){
                        f.action = "/manage/admin/listView";
                        // f.href = "/admin/manage/admin/listView";
                        f.submit();
                    }

                }
            });
        }

        function fnDoEnterEvent() {
            if (event.keyCode == 13) {
                fnDoLogin();
            }
        }
    </script>
</head>
<body class="loginForm">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="logo">
<!--                <img th:src="@{/img/manager/logo.png}" width="206px" alt="한국주택금융공사" />-->
            </div>
            <div class="login-panel panel panel-default" >
                <div class="panel-body">
                    <form name="form1" id="form1" method="post" th:object="${login}" th:action="@{/login/check}" >
                        <input type="hidden" name="" value="">
                        <input type="hidden" name="sessionDeleteYn" />
                        <fieldset >
                            <div class="form-group">
                                <input class="form-control" placeholder="아이디" th:filed="*{getUserId()}" id="userId" name="userId" type="text" value="Email@@" autofocus onkeydown="fnDoEnterEvent();">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="비밀번호" th:filed="*{getPasswd()}" id="passwd" name="passwd" type="password" value="P@ssW0rd" onkeydown="fnDoEnterEvent();" autocomplete="off">
                            </div>
                            <!-- <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div> -->
                            <!-- Change this to a button or input when using this as a form -->
<!--                            <button type="button" class="btn btn-lg btn-success btn-block" onclick="fnDoLoginProc();">로그인</button>-->
                            <button class="btn btn-lg btn-success btn-block" >로그인</button>
                        </fieldset>
                    </form>
                    <p class="m-t-lg text-center"> <small>본 시스템은 유아이네트웍스 직원에 한하여 사용할 수 있으며, <br>불법적인 접근 및 사용 시 관련 법규에 의해 처벌될 수 있습니다.</small> </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>