<html xmlns:th="http://www.thymeleaf.org">

<style>
    #addSel p {
        margin: 10px 0 0;
    }
</style>
<script type="text/javascript" th:inline="javascript">
 </script>
<div id="selecCateList">

    <select id="cateSelector" th:name="cateId" class="btn-primary term">
            <option
                    name="cateId"
                    th:selected="${list.cateId}"
                    th:each="list : ${cateTitleList}"
                    th:text="${list.cateTitle}"
                    th:value="${list.cateId}"
            >
            </option>
    </select>

    <div id="addSel" style="display: block;"></div>
</div>
</html>