<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            ChalCateSelector();
            $('#cateRemove').remove()
        });

        function LinkInpitClear(){
            console.log("clear???")
            console.log('before',$('#link').val());
            var linkNull = $('#link').val('');
            linkNull.value = '';
            console.log('after',linkNull.value);

        }

        function MissionLangSelect(seq, name) {
            console.log(seq);
            console.log(name);
            $.ajax({
                url: "active/action/langSelect",
                type: 'GET',
                cache: false,
                dataType: "html",
                // data: $('#cateSelect').serialize(),
                data: {
                    seq: seq,
                    lang: name
                },
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    $("#selectModal1").replaceWith(data);
                }
            })
        };

        function ChalCateSelector() {
            console.log("cateSelect")
            $.ajax({
                url: "active/challengeAction/chalCateSelector",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#chalCateSelector').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    $("#chalCateResult").replaceWith(data);
                }
            })
        };


        function ChallengeActionSave() {
            console.log("ChallengeActionSave")

            var pointt = $('#point').val();
            if (!pointt.match(/^[0-9]*$/)) {
                alert("포인트는 숫자만 입력 가능합니다.");
                return;
            }

            var expp = $('#exp').val();
            if (!expp.match(/^[0-9]*$/)) {
                alert("경험치는 숫자만 입력 가능합니다.");
                return;
            }


            var form1 = $('#cateActionSave')[0];
            var formData1 = new FormData($('#cateActionSave')[0]);
            formData1.append("cateId", $('#cateSelector option:selected').val());
            console.log(formData1);
            $.ajax({
                url: "active/challengeAction/save",
                type: "POST",
                cache: false,
                dataType: "text",
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                async: false,
                data: formData1,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    // $("#selecCateList").replaceWith(data);
                    console.log(data);
                    window.location.href = data;
                }
            })
        };

    </script>
    챌린지 액션
    <div class="row m-t-lg" th:object="${chalAct}">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <table class="detail-table cate-table">
                        <form name="chalCateSelector" id="chalCateSelector" method="post">
                            <tr>
                                <th>장소</th>
                                <td>
                                    <div th:each="pc:  ${placeCode}">
                                        <input type="checkbox"
                                               name="place"
                                               th:value="${pc.getCd()}"
                                        >
                                        <label th:text="${pc.getCdNm()}"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>종류</th>
                                <td>
                                    <div th:each="ppc:  ${purposeCode}">
                                        <input type="radio"
                                               name="prps"
                                               th:value="${ppc.getCd()}"
                                        >
                                        <label th:text="${ppc.getCdNm()}"/>
                                    </div>
                                </td>
                            </tr>

                            <span th:if="*{cateId !=null}" id="cateRemove">
                            <input type="hidden" th:field="*{cateId}">
                            </span>
                            <tr>
                                <th>검색어</th>
                                <td>
                                    <input type="text" id="cateTitle" name="cateTitle">
                                    <div class="input-group-btn" style="width: 60px;">
                                        <button type="button" class="btn-srch"
                                                th:onclick="ChalCateSelector()" th:text="검색" value="검색"/>
                                    </div>
                                </td>
                            </tr>
                        </form>
                        <!--                        챌린지 카테고리값 선택하는 옵션-->
                        <tr>
                            <th>챌린지</th>
                            <td>
                                <div id="chalCateResult"></div>
                            </td>
                        </tr>
                        <br>
                        <form id="cateActionSave" name="cateActionSave" method="post">
                            <tr>
                                <th>포인트</th>
                                <td>
                                    <input type="text" th:field="*{point}">
                                </td>
                            </tr>
                            <tr>
                                <th>경험치</th>
                                <td>
                                    <input type="text" th:field="*{exp}">
                                </td>
                            </tr>

                            <tr>
                                <th>링크</th>
                                <td>
                                    <input type="text" th:field="*{linkUrl}">
                                </td>
                            </tr>

                            <tr>
                                <th>이미지 <input type="file" id="file" name="file"></th>
                                <td>
                                    <span th:if="${chalAct.getImgUrl() != null}">
                                    <img th:src="*{imgUrl}">
                                     </span>
                                    <span th:if="${chalAct.getImgUrl() == null}">
                                        <img>
                                    </span>
                                </td>
                            </tr>
                            <tr th:if="${chalAct.mssnId != null}">
                                <th>언어</th>
                                <td style="padding: 4px 10px;">
                                    <div th:each="lang : ${langCode}">
                                        <button id="modalbutton" type="button" class="btn btn-primary"
                                                data-toggle="modal"
                                                data-target="#selectModal1"
                                                th:onclick="MissionLangSelect([[${chalAct.mssnId}]],[[${lang.getName()}]])"
                                                th:text="${lang.getDes()}">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <span>


                            </span>
                            <input type="hidden" th:field="*{particptnTpCd}">
                            <input type="hidden" th:field="*{startDt}">
                            <input type="hidden" th:field="*{imgUrl}">
                            <input type="hidden" th:field="*{endDt}">
                            <input type="hidden" th:field="*{actDt}">
                            <input type="hidden" th:field="*{actArea}">
                            <input type="hidden" th:field="*{method}">
                            <input type="hidden" th:field="*{mssnId}">
                            <input type="hidden" th:field="*{tpcTpCd}">
                            <input type="hidden" th:field="*{hit}">
                            <input type="hidden" th:field="*{useYn}">
                            <input type="hidden" th:field="*{regId}">
                            <input type="hidden" th:field="*{regDt}">
                            <input type="hidden" th:field="*{modId}">
                            <input type="hidden" th:field="*{modDt}">
                            <input type="hidden" th:field="*{challengeId}">


                        </form>

                        <!--                    테이블-->
                    </table>


                    <div style="display: flex; justify-content: space-between;">
                            <span th:if="${chalAct.getImgUrl() == null}">
                        <div class="input-group-btn">
                            <button type="button" class="btn-srch"
                                    style="width: 60px; margin-right: 20px; border-radius: 5px"
                                    th:onclick="'javascript:ChallengeActionSave()'">중간저장
                            </button>
                        </div>
                            </span>
                        <span th:if="${chalAct.getImgUrl() != null}">
                        <div class="input-group-btn">
                            <button type="button" class="btn-srch"
                                    style="width: 60px; margin-right: 20px; border-radius: 5px"
                                    th:onclick="'javascript:ChallengeActionSave()'">저장
                            </button>
                        </div>
                            </span>
                        <div class="input-group-btn" style="width: 60px;">
                            <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-right: 0;"
                                    onClick="history.go(-1)" th:text="목록"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <div id="selectModal1"></div>
</th:block>


</html>