<html xmlns:th="http://www.thymeleaf.org">
<div id="listArea">
    <table class="table table-hoverm dataTable table-m table-border">
<!--        <thead class="thead">-->
<!--            <tr class="tr">-->
<!--                <th class="th">No</th>-->
<!--                <th class="th">부문</th>-->
<!--                <th class="th">타이틀</th>-->
<!--                <th class="th">생성자</th>-->
<!--                <th class="th">생성일</th>-->
<!--                <th class="th">수정일</th>-->
<!--            </tr>-->
<!--        </thead>-->
        <tbody>
            <tr th:each="action : ${actionList.getResults()}" class="tr" >
                <td th:text="${page.getTotal() - actionStat.index -  page.getOffset()}"
                    th:value="${action.mssnId}" class="td"></td>
                <td th:text="${codes[__${action.tpcTpCd}__]}" class="td"></td>
                <td class="td"><a th:text="${action.mssnTitle}" th:href="@{/active/challengeAction/oneView(seq=${action.getMssnId()})}"></a></td>
                <td th:text="${action.adminName}" class="td"></td>
                <td th:text="${#temporals.format(action.regDt,'yyyy-MM-dd')}" class="td"></td>
                <td th:text="${#temporals.format(action.modDt,'yyyy-MM-dd')}" class="td"></td>
            </tr>
        </tbody>
    </table>

    <div class="btn-page text-center">
        <button type="button" class="btn btn-pageAngle" title="처음"
                th:onclick="'javascript:listSelect(0)'">
            <i class="fa fa-angle-double-left"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="이전"
                th:onclick="'javascript:listSelect('+${page.getBackPage()}+')'">
            <i class="fa fa-angle-left"></i>
        </button>

        <button type="button" class="btn btn-pageNum" th:classappend="${page.getPage() == index} ? 'active' : ''"
                th:each="no : ${#numbers.sequence(page.getStartNum() , page.getLastNum())}"
                th:with="index= ${noStat.index + page.getStartNum()}"
                th:onclick="'javascript:listSelect('+ ${index} +')'"
                th:text="${page.getStartNum()}+${noStat.count}">
        </button>

        <button type="button" class="btn btn-pageAngle" title="다음"
                th:onclick="'javascript:listSelect('+${page.getNextPage()}+')'">
            <i class="fa fa-angle-right"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="끝"
                th:onclick="'javascript:listSelect('+${page.getEnd()}+')'">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </div>
</div>
</html>