<html xmlns:th="http://www.thymeleaf.org">

<style>
    #addSel p {
        margin: 10px 0 0;
    }
</style>
<script type="text/javascript" th:inline="javascript">
    // $(document).ready(function () {
    //     cateLangSelect();
    // });
    function cateLangSelect(seq, name) {
        console.log(seq);
        console.log(name);
        $.ajax({
            url: "active/cate/langSelect",
            type: 'GET',
            cache: false,
            dataType: "html",
            // data: $('#cateSelect').serialize(),
            data: {
                seq: seq,
                lang: name
            },
            async: false,
            error: function () {
                console.log('error');
            },
            success: function (data) {
                console.log('success1');
                $("#selectModal1").replaceWith(data);
            }
        })
    };


</script>
<div id="selecCateList">

    <select id="cateSelector" th:name="cateId" class="btn-primary term">
            <option
                    name="cateId"
                    th:selected="${list.cateId}"
                    th:each="list : ${cateTitleList}"
                    th:text="${list.cateTitle}"
                    th:value="${list.cateId}"
            >
            </option>
    </select>

    <div id="addSel" style="display: block;"></div>
</div>
</html>