<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">


<script type="text/javascript" th:inline="javascript">



</script>

<div class="modal" id="selectModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">권한생성</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="insertForm" th:object="${adminPerCreateReq}">
                    <span th:text="권한이름"></span>
                    <input type="text" th:field="*{adminPmsNm}">
                    <table class="table">
                        <th>P메뉴seq</th>
                        <th>P메뉴val</th>
                        <th>choice</th>
                        <tr class="tr" th:each="p:${PMenu}">
                            <td class="td" style="vertical-align: middle" th:text="${p.getSeq()}"
                                th:field="*{pmenuVal}"></td>
                            <td class="td" style="vertical-align: middle" th:text="${p.getVal()}"></td>
                            <td class="td" style="vertical-align: middle"><input class="input" type="checkbox" th:value="${p.getName()}" th:field="*{pmenuVal}"/></td>
                        </tr>

                    </table>


                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-add" data-dismiss="modal"
                        th:onclick="'javascript:AdminPerCreateReq()'"
                >Save
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

</html>