<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <script type="text/javascript" th:inline="javascript">


    </script>

    <div class="row m-t-lg" th:object="${adminPerCreateReq}">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <table class="detail-table">
                        <tr>
                            <th>권한명</th>
                            <td th:text="*{adminPmsNm}">닉네임값</td>
                        </tr>
                        <tr>
                            <th>권한</th>
                            <td th:each="list : ${PMenu}">

                                <input type="checkbox" th:text="${list.getVal()}" th:checked="${adminPerCreateReq.pmenuVal.contains(list.getName())}" disabled>

                            </td>
                        </tr>

                    </table>
                    <div style="display: flex; justify-content: space-between;">
                        <div>

                            <div class="input-group-btn" style="width: 60px;">

                            </div>
                        </div>
                        <div class="input-group-btn" style="width: 60px;">
                            <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-right: 0;"
                                    onClick="history.go(-1)" th:text="목록"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>