<html xmlns:th="http://www.thymeleaf.org">
<div id="listArea">
    <div>
        <table class="table table-hoverm dataTable table-m table-border">
            <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">Content</th>
                <th class="th">생성일</th>
            </tr>
            </thead>

            <tr th:each="per : ${adminPerList.getResults()}" class="tr" >
                <td th:text="${page.getTotal() - perStat.index -  page.getOffset()}"
                    th:value="${per.getAdminPmsId()}" class="td"></td>
                <td  class="td">
                <a th:text="${per.getAdminPmsNm()}"
                   th:href="@{/manage/per/oneView(seq=${per.getAdminPmsId()})}"
                >
                </a>
                </td>
                <td th:text="${#temporals.format(per.regDttm,'yyyy-MM-dd')}" class="td"></td>
            </tr>
            </thead>
        </table>

        <div align="center">
            <button type="button" class="btn btn-pageAngle" title="처음"
                    th:onclick="'javascript:listSelect(0)'">
                <i class="fa fa-angle-double-left"></i>처음
            </button>

            <button type="button" class="btn btn-pageAngle" title="이전"
                    th:onclick="'javascript:listSelect('+${page.getBackPage()}+')'">
                <i class="fa fa-angle-left">
                </i>이전
            </button>

            <span th:each="no : ${#numbers.sequence(page.getStartNum() , page.getLastNum())}">
                                <button type="button" class="btn btn-pageAngle"
                                        th:with="index= ${noStat.index + page.getStartNum()}"
                                        th:onclick="'javascript:listSelect('+ ${index} +')'"
                                        th:text="${page.getStartNum()}+${noStat.count}">
                                </button>
                                    </span>
            <button type="button" class="btn btn-pageAngle" title="다음"
                    th:onclick="'javascript:listSelect('+${page.getNextPage()}+')'">
                <i class="fa fa-angle-left"></i>다음
            </button>

            <button type="button" class="btn btn-pageAngle" title="끝"
                    th:onclick="'javascript:listSelect('+${page.getEnd()}+')'">
                <i class="fa fa-angle-left"></i>끝
            </button>


        </div>

    </div>
    </div>
</div>
</html>