<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

    <script type="text/javascript" th:inline="javascript">
        function AdminCreateReq() {
            console.log("admincreateReq")
            $.ajax({
                url: "manage/admin/createReq",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#insertForm').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    console.log('success1');
                    $("#listArea").replaceWith(data);
                    // document.getElementById("listArea").innerHTML = data;
                }
            })
        };
    </script>

    <form id="insertForm" th:object="${adminCreateReq}">
        <span th:text="이메일"></span>  <input th:filed="*{getAdminEmail()}" placeholder="이메일 입력"><br>
        <span th:text="이름"></span>    <input th:filed="*{getAdminName()}" placeholder="이름 입력"><br>
        <span th:text="비밀번호"></span> <input type="password" th:filed="*{getAdminPwd()}" placeholder="비밀번호 입력"><br>
        <span th:text="권한그룹"></span> <input th:filed="*{getAdminPmsId()}" placeholder="권한그룹 입력"><br>
        <button type="button" class="btn btn-pageAngle"
                th:onclick="'javascript:AdminCreateReq()'"
                th:text="전송">
        </button>
    </form>
    <input type="button" value="목록으로" onClick="history.go(-1)">
</th:block>
</html>
