<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">


<script type="text/javascript" th:inline="javascript">

    function AdminCreateReq() {

        var email = $('#adminEmail').val();
        if(email === ''){
            alert("이메일을 입력해주세요");
            return;
        }
        if(!email.match(/\w+@\w+\.\w+(\.\w+)?/)){
            alert("이메일 형식이 아닙니다");
            return;
        }
        if(email.length > 50){
            alert("50자 이하로 입력해주세요");
            return;
        }

        var name = $('#adminName').val();
        if(name === ''){
            alert("이름을 입력해주세요");
            return;
        }
        if(name.length > 10){
            alert("이름은 10자 이하로 입력해주세요");
            return;
        }
        if(!name.match(/^[ㄱ-ㅎ|가-힣|a-z|A-Z|0-9|]+$/)){
            alert("이름은 한글, 영문만 입력 가능합니다");
            return;
        }

        var pas = $('#adminPwd').val();
        if(pas === ''){
            alert("비밀번호을 입력해주세요");
            return;
        }
        if(pas.length > 20){
            alert("20자 이하로 입력해주세요");
            return;
        }
        if(pas.length < 8){
            alert("8자 이상 입력해주세요");
            return;
        }




        console.log("admincreateReq")
        $.ajax({
            url: "manage/admin/createReq",
            type: 'POST',
            cache: false,
            dataType: "html",
            data: $('#insertForm').serialize(),
            async: false,
            error: function () {
                console.log('error');
            },
            success: function (data) {
                console.log('success1');
                $("#listArea").replaceWith(data);
                // document.getElementById("listArea").innerHTML = data;
            }
        })
    };
</script>

<div class="modal custom-modal" id="selectModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="display: flex; justify-content: space-between;">
                <h4 style="width: 100%;" class="modal-title">승인</h4>
                <div>
                    <i class="fas fa-times" style="color: #222; cursor: pointer;" data-dismiss="modal"></i>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="insertForm" th:object="${adminCreateReq}">
                    <table class="detail-table modal-table">
                        <tr>
                            <th>이메일</th>
                            <td>
                                <input th:field="*{adminEmail}" placeholder="이메일 입력">
                            </td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input th:field="*{adminName}" placeholder="이름 입력">
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td>
                                <input type="password" th:field="*{adminPwd}"
                                       placeholder="비밀번호 입력">
                            </td>
                        </tr>
                        <tr>
                            <th>권한그룹</th>
                            <td>
                                <div style="display: flex; justify-content: space-between;">
                                <select th:field="*{adminPmsId}"  class="btn-primary term">
                                    <option th:each="pms : ${adminPmsList}"
                                            th:text="${pms.getAdminPmsNm()}"
                                            th:value="${pms.getAdminPmsId()}"
                                    >
                                    </option>
                                </select>
                                </div>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn-srch" style="width: 60px; margin-right: 20px; border-radius: 5px"
                        data-dismiss="modal"
                        th:onclick="AdminCreateReq()"
                >Save
                </button>
                <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-right: 0;"
                        data-dismiss="modal">Close
                </button>
            </div>

        </div>
    </div>
</div>

</html>