<html xmlns:th="http://www.thymeleaf.org">
<div id="listArea">
    <table class="table table-hoverm dataTable table-m table-border">
        <thead class="thead">
            <tr class="tr">
                <th class="th">No</th>
                <th class="th">Email</th>
                <th class="th">Name</th>
                <th class="th">date</th>
                <th class="th">PermissionSeq</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="admin : ${adminList.getResults()}" class="tr">
                <td th:text="${page.getTotal() - adminStat.index -  page.getOffset()}"
                    th:value="${admin.getAdminId()}" class="td"></td>

                <td  class="td">
                    <a th:text="${admin.getAdminEmail()}"
                       th:href="@{/manage/admin/oneView(seq=${admin.getAdminId()})}"></a>

                </td>
                <td th:text="${admin.getAdminName()}" class="td"></td>
                <td th:text="${#temporals.format(admin.regDttm, 'yyyy-MM-dd')}" class="td"></td>
                <td th:text="${admin.adminPmsNm}" class="td"></td>
            </tr>
        </tbody>
    </table>

    <div class="btn-page text-center">
        <button type="button" class="btn btn-pageAngle" title="처음"
                th:onclick="'javascript:adminSelect(0)'">
            <i class="fa fa-angle-double-left"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="이전"
                th:onclick="'javascript:adminSelect('+${page.getBackPage()}+')'">
            <i class="fa fa-angle-left"></i>
        </button>

        <button type="button" class="btn btn-pageNum" th:classappend="${page.getPage() == index} ? 'active' : ''"
                th:each="no : ${#numbers.sequence(page.getStartNum() , page.getLastNum())}"
                th:with="index= ${noStat.index + page.getStartNum()}"
                th:onclick="'javascript:adminSelect('+ ${index} +')'"
                th:text="${page.getStartNum()}+${noStat.count}">
        </button>

        <button type="button" class="btn btn-pageAngle" title="다음"
                th:onclick="'javascript:adminSelect('+${page.getNextPage()}+')'">
            <i class="fa fa-angle-right"></i>
        </button>

        <button type="button" class="btn btn-pageAngle" title="끝"
                th:onclick="'javascript:adminSelect('+${page.getEnd()}+')'">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </div>
</div>
</html>